        <link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component.css" />
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <script src="/static/js/moment.min.js"></script>
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/css/ghostbutton.css" rel="stylesheet">

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/bootstrap-filestyle.min.js"> </script>
        <script src="/static/js/classie.js"></script>
        <script src="/static/js/angular.min.js"></script>
        <script src="/static/js/angular-animate.min.js"></script>
        <script src="/static/js/ui-bootstrap-tpls-0.13.4.min.js"></script>
    

<html lang="en" ng-app="myApp">
<div ng-controller="TabsDemoCtrl">
<h1> File Browser</h1>
<div id="items" ng-repeat="item in files">{{item|angular}}
</div>

    
</div>

<script>
angular.module('myApp', ['ngAnimate', 'ui.bootstrap']);

angular.module('myApp').controller('TabsDemoCtrl', function ($scope, $window) {
    $scope.files=  {{files|tojson}};    

}); 

</script>

    
</html>

