﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>This demo demonstrates how to ngxDateTimeInput's events.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdatetimeinput.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcalendar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxtooltip.js"></script>
    <script type="text/javascript" src="../../ngwidgets/globalization/globalize.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.change = function (event) {
                var date = event.args.date;
                $scope.log = "Change: " + date;
            }
            $scope.open = function (event) {
                $scope.log = "Popup Opened";
            }

            $scope.close = function (event) {
                $scope.log = "Popup Closed";
            }
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-date-time-input ngx-width="270" ngx-height="25" ngx-on-open="open(event)" ngx-on-close="close(event)" ngx-on-change="change(event)"></ngx-date-time-input>
    <br />
    <div>Events:</div>
    <div style="font-family: 'segoe ui', arial, sans-serif;">
        {{log}}
    </div>
</body>
</html>
