﻿<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <title id="Description">ngxButtonGroup for AngularJS</title>
    <link rel="stylesheet" type="text/css" href="../../ngwidgets/styles/ngx.base.css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets", "ngwidgets-amd"]);

        demoApp.controller("demoController", function ($scope) {
            $scope.buttonGroupMode = 'default';
            $scope.clickedButton = "";

            $scope.checkboxMode = function () {
                $scope.buttonGroupMode = 'checkbox';
            };

            $scope.defaultMode = function () {
                $scope.buttonGroupMode = 'default';
            };

            $scope.radioMode = function () {
                $scope.buttonGroupMode = 'radio';
            };

            $scope.buttonClick = function (event) {
                var clickedButton = event.args.button;
                $scope.clickedButton = clickedButton.text();
            };
        });
    </script>
</head>
<body>
    <div ng-controller="demoController">
        <ngx-button-group ngx-on-buttonclick="buttonClick(event)" ngx-mode="buttonGroupMode">
            <button style="padding:4px 16px;">Left</button>
            <button style="padding:4px 16px;">Center</button>
            <button style="padding:4px 16px;">Right</button>
        </ngx-button-group>
        <div style="margin-top: 10px;">
            <h4>
                Modes</h4>
            <ngx-radio-button ngx-on-checked="defaultMode()" ngx-checked="true" style="margin: 3px;">
                Default</ngx-radio-button>
            <ngx-radio-button ngx-on-checked="radioMode()" style="margin: 3px;">
                RadioButtons</ngx-radio-button>
            <ngx-radio-button ngx-on-checked="checkboxMode()" style="margin: 3px;">
                CheckBoxes</ngx-radio-button>
        </div>
        <div id="eventsLog" style="margin-top: 10px;">
            Clicked: {{clickedButton}}
        </div>
    </div>
</body>
</html>
