﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>With the AngularJS Radio Button, users make a choice among a set of
        mutually exclusive, related options. Users can choose one and only one option.
    </title>
    <link rel="stylesheet" type="text/css" href="../../ngwidgets/styles/ngx.base.css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxradiobutton.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.log = "";
            $scope.change = function (event) {
                $scope.log = "Duration: " + $(event.target).text();
            }
        });
    </script>
</head>
<body ng-controller="demoController">
    <div style='font-family: Verdana Arial; font-size: 12px; width: 400px;'>
        <h3>
            House Contract</h3>
        <ngx-radio-button ngx-on-change="change(event)" ngx-width="250" ngx-checked="true" ngx-height="25" style='margin-top: 10px;'>
            12 Months Contract</ngx-radio-button>
        <ngx-radio-button ngx-on-change="change(event)" ngx-width="250" ngx-height="25" style='margin-top: 10px;'>
            <span>6 Months Contract</span></ngx-radio-button>
        <ngx-radio-button ngx-on-change="change(event)" ngx-width="250" ngx-height="25" style='margin-top: 10px;'>
            <span>3 Months Contract</span></ngx-radio-button>
        <ngx-radio-button ngx-on-change="change(event)" ngx-disabled="true" ngx-width="250" ngx-height="25" style='margin-top: 10px;'>
            <span>1 Month Contract</span></ngx-radio-button>
        {{log}}
    </div>
</body>
</html>
