﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>The AngularJS Toggle Button represents a button widget that switches its checked state after a click.</title>
    <link rel="stylesheet" type="text/css" href="../../ngwidgets/styles/ngx.base.css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.toggled = true;
            $scope.buttonValue = "Toggled On";
            $scope.change = function (event) {
                $scope.toggled == true ? $scope.buttonValue = "Toggled On" : $scope.buttonValue = "Toggled Off";
            }
        });
        </script>
</head>
<body ng-controller="demoController">
    <ngx-toggle-button ng-change="change(event)" ng-model="toggled">{{buttonValue}}</ngx-toggle-button>
</body>
</html>
