﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>This demo demonstrates how to trigger the ngxCalendar's valuechanged
        and nextButtonClick and backButtonClick events.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdatetimeinput.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcalendar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxtooltip.js"></script>
    <script type="text/javascript" src="../../ngwidgets/globalization/globalize.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.eventHandler = function (event) {
                var date = event.args.date;
                var view = event.args.view;
                var viewFrom = view.from;
                var viewTo = view.to;
                if (event.type == 'viewChange') {
                    $scope.log = 'Event Type: viewChange Date: ' + date + ', View: ' + viewFrom + ' - ' + viewTo;
                }
                else {
                    $scope.log = 'Event Type: change, Date: ' + date;
                }
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-calendar ngx-width="220" ngx-height="220" ngx-on-change="eventHandler(event)" ngx-on-view-change="eventHandler(event)"></ngx-calendar>
    <br />
    <div style="font-family: 'segoe ui', arial, sans-serif;">
        {{log}}
    </div>
</body>
</html>
