﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>This demo demonstrates the ngxCalendar's range selection mode. Click on a date to select the start date and then click on another cell to select the end date.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdatetimeinput.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcalendar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxtooltip.js"></script>
    <script type="text/javascript" src="../../ngwidgets/globalization/globalize.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp",
            ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {

            $scope.selectionChange = function (event) {
                var selection = event.args.range;
                $scope.log = "From: " + selection.from.toLocaleDateString() + ", To: " + selection.to.toLocaleDateString();
            };

            $scope.calendarReady = function (args) {
                var date1 = new Date();
                date1.setFullYear(2012, 7, 7);

                var date2 = new Date();
                date2.setFullYear(2012, 7, 15);
                args.instance.setRange(date1, date2);
            }
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-calendar ngx-width="220" ngx-created="calendarReady" ngx-height="220" ngx-selection-mode="'range'" ngx-on-change="selectionChange(event)">
        </ngx-calendar>
    {{log}}
</body>
</html>
