<style>
.thumbnaildrop
{
    color: #555;
    border: 0px dashed #555;
    border-radius: 7px;
    cursor: default;
    padding:0px;
    margin: 0 auto;
    vert-align:top;
    object-fit:contain;
}

.thumbnaildrop.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    border: 1px dashed #999;
    cursor: crosshair;
}
</style>

<div class = "thumbnaildrop" 
     style= "width: [[width ? height : 'auto']];
             height:auto;
             object-fit: contain;
             max-height: [[maxheight ? maxheight : 'auto']]">
    <img style = "width: [[width ? width : 'auto']];
                  height:  [[height ? height : '100%']];
                  object-fit: contain;"
         src = "[[elementsrc ? elementsrc : defaultsrc]]">
</div>