<div class='filebrowsertemplate'>
    <head>
        <link href="/static/css/style.css" rel="stylesheet">
        <link href="/static/bower_components/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <style>
        .mainbrowser {
            height: 95%;
            width: 100%;
            background-color: transparent;
            display:table;
        }
        
        .rightbrowser {
            display:table-cell;
            height:100%;
            padding:5px
        }
        
        .leftbrowser {
            width: 150px;
            height: 100%;
            display:table-cell;
            padding:5px;
        }
        
        .filebrowser {
            height: 100%;
            border-color: #444444;
            color: grey;
        }
    </style>

    <div id="topframe">
        
        <div class="ui left icon input" style="width:100%;padding:2px">
            <input type="text" 
                   placeholder="path..." 
                   ng-model="path" 
                   ng-keypress="keypress($event)" 
                   style="width:100%">
            <i class="folder icon"></i>
        </div>
        <div class="ui negative small message transition hidden">
            <i class="close icon"></i>
            <div class="header">
                [[message]]
            </div>
        </div>
        <!---Top Buttons  !-->

        <div id="buttons" style="padding:2px">
            <div id="leftbuttons" style="float:left">
                <button class="btn btn-default btn-sm" ng-click="homeHandler()">
                    <span class="glyphicon glyphicon-home"></span>
                </button>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#createfolderModal">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button class="btn btn-default btn-sm" ng-click="upclickHandler()">
                    <span class="glyphicon glyphicon-level-up"></span>
                </button>
                <button id="leftarrow" class="btn btn-default btn-sm" ng-click="leftclickHandler()" disabled>
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
                <button id="rightarrow" class="btn btn-default btn-sm" ng-click="rightclickHandler()" disabled>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div id="rightbuttons" style="float:right">
                <button class="btn btn-default btn-sm" ng-click="finderHandler()">
                    <span class="icomoon icon-finder"></span>
                </button>
                <button class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button class="btn btn-default btn-sm" ng-click="refreshHandler()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>
            <div id="middlespace" style="width:40%;height:20px; overflow:hidden"></div>

        </div>
    </div>

    <!---List boxes  !-->
    <div class="mainbrowser">
        <div class="leftbrowser">
            <!--ngx-list-box ngx-settings="listBoxASettings" 
                               ngx-on-drag-start="dragStart(event)" 
                               ngx-on-drag-end="dragEnd(event)">
                </ngx-list-box-->
            <div style="height:100%; position:relative">
                <div id="ListBoxA"></div>

                <span id="favoritebuttons" 
                     style="position:absolute; 
                            bottom:0px; left:5px; overflow:hidden">
                    <button data-toggle="modal" ng-click="addfavoriteClick()" data-target="#addfavoriteModal">
                        <span style="font-size:8px" class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button ng-click="removefavoriteHandler()">
                        <span style="font-size:8px" class="glyphicon glyphicon-minus"></span>
                    </button>
                    <button ng-click="editfavoriteHandler()">
                        <span style="font-size:8px" class="glyphicon glyphicon-pencil"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="rightbrowser">
            <div style="height:100%; position:relative">

                <div id="ListBoxB" ng-model="files"></div>

            <!--ngx-list-box  ng-attr-ngx-list-box ngx-settings="listBoxBSettings" 
                              ng-attr-ngx-on-select="onSelectFile(event)">
                </ngx-list-box -->
            </div>
        </div>
    </div>

    <div class="bottomframe" style="width:100%">
        <button id="selectbutton" style="float:right;margin-right:5px" ng-click="selectfilehandler()">Select</button>
    </div>


    <!--- Modals -->

    <div class="modal fade" id="addfavoriteModal" role="dialog">
        <div class="modal-dialog" style="width:40%">
            <div class="modal-content" style="height:220px">
                <div class="modal-header" style="height:10%">
                    <button type="button" class="close btn-sm" style="padding:2px; font-size:15px" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <br>
                </div>
                <div class="modal-body">
                    <span style="font-color:#dddddd;font-size:10px">Add Favorites</span>
                    <h5>Name:
            <input id="favoritename" type="text" style="width:70%" value="[[path]]"></h5>
                    <br>
                    <h5>Path:
            <input id="favoritepath" type="text" style="width:70%" value="[[path]]"></h5>
                    <br>

                    <div style="float:right; padding:10px">
                        <button class="btn btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        <button class="btn btn-default btn-sm" ng-click="addfavoriteHandler()" id="addfavorite">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    $('.message .close')
        .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
    ;
    
    </script>
</div>