<style>
    .slider {
        width: auto;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        outline: none;
        height: 550px;
    }
    
    .slider div {
        margin-right: 0px;
        margin-left: 3px;
        outline: none;
        width: 95%;
        height: 50px
    }
    
    .slider .slick-center h3 {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        color: black;
        opacity: 1;
        transform: scale(1);
        border: 1px solid black;
        margin-right: 0px;
    }
    
    .slider h3 {
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
        -webkit-transform: scale(0.85);
        opacity: 0.4;
        transform: scale(0.8);
        transition: all 300ms ease;
        background: grey;
        font-size: 12px
    }
</style>

<div class="slider">
</div>