.markdown,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown p,
.markdown blockquote {
   margin: 0;
   padding: 0;
}

.markdown table {
	 margin: 10px 0 15px 0;
	 border-collapse: collapse;
}
.markdown td,
.markdown th {
	 border: 1px solid #ddd;
	 padding: 3px 10px;
}
.markdown th {
	 padding: 5px 10px;	
}
.markdown a {
   color: #59acf3;
}
.markdown a:hover {
   color: #a7d8ff;
   text-decoration: none;
}
.markdown a img {
   border: none;
}
.markdown p {
   margin-bottom: 9px;
}
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
   color: #fff;
   line-height: 36px;
}
.markdown h1 {
   margin-bottom: 18px;
   font-size: 30px;
}
.markdown h2 {
   font-size: 24px;
}
.markdown h3 {
   font-size: 18px;
}
.markdown h4 {
   font-size: 16px;
}
.markdown h5 {
   font-size: 14px;
}
.markdown h6 {
   font-size: 13px;
}
.markdown hr {
   margin: 0 0 19px;
   border: 0;
   border-bottom: 1px solid #ccc;
}
.markdown blockquote {
   padding: 13px 13px 21px 15px;
   margin-bottom: 18px;
   font-family:georgia,serif;
   font-style: italic;
}
.markdown blockquote:before {
   content:"\201C";
   font-size:40px;
   margin-left:-10px;
   font-family:georgia,serif;
   color:#eee;
}
.markdown blockquote p {
   font-size: 14px;
   font-weight: 300;
   line-height: 18px;
   margin-bottom: 0;
   font-style: italic;
}

.markdown code,
.markdown pre {
   font-family: Menlo, Monaco, Andale Mono, Courier New, monospace;
}

.markdown code {
   padding: 1px 3px;
   font-size: 12px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   background: #334;
}

.markdown pre {
   display: block;
   padding: 14px;
   margin: 0 0 18px;
   line-height: 16px;
   font-size: 11px;
   border: 1px solid #334;
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
   background-color: #282a36;
   border-radius: 6px;
}
.markdown pre code {
   font-size: 11px;
   padding: 0;
   background: transparent;
}
.markdown sup {
   font-size: 0.83em;
   vertical-align: super;
   line-height: 0;
}
