@font-face {
	font-family: 'icomoon';
	src:url('/static/fonts/icomoon.eot?-dsotxt');
	src:url('/static/fonts/icomoon.eot?#iefix-dsotxt') format('embedded-opentype'),
		url('/static/fonts/icomoon.ttf?-dsotxt') format('truetype'),
		url('/static/fonts/icomoon.woff?-dsotxt') format('woff'),
		url('/static/fonts/icomoon.svg?-dsotxt#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e601";
}
.icon-home2:before {
	content: "\e602";
}
.icon-home3:before {
	content: "\e603";
}
.icon-office:before {
	content: "\e604";
}
.icon-newspaper:before {
	content: "\e605";
}
.icon-pencil:before {
	content: "\e606";
}
.icon-pencil2:before {
	content: "\e607";
}
.icon-quill:before {
	content: "\e608";
}
.icon-pen:before {
	content: "\e609";
}
.icon-blog:before {
	content: "\e60a";
}
.icon-eyedropper:before {
	content: "\e60b";
}
.icon-droplet:before {
	content: "\e60c";
}
.icon-paint-format:before {
	content: "\e60d";
}
.icon-image:before {
	content: "\e60e";
}
.icon-images:before {
	content: "\e60f";
}
.icon-camera:before {
	content: "\e610";
}
.icon-headphones:before {
	content: "\e611";
}
.icon-music:before {
	content: "\e612";
}
.icon-play:before {
	content: "\e613";
}
.icon-film:before {
	content: "\e614";
}
.icon-video-camera:before {
	content: "\e615";
}
.icon-dice:before {
	content: "\e616";
}
.icon-pacman:before {
	content: "\e617";
}
.icon-spades:before {
	content: "\e618";
}
.icon-clubs:before {
	content: "\e619";
}
.icon-diamonds:before {
	content: "\e61a";
}
.icon-bullhorn:before {
	content: "\e61b";
}
.icon-connection:before {
	content: "\e61c";
}
.icon-podcast:before {
	content: "\e61d";
}
.icon-feed:before {
	content: "\e61e";
}
.icon-mic:before {
	content: "\e61f";
}
.icon-book:before {
	content: "\e620";
}
.icon-books:before {
	content: "\e621";
}
.icon-library:before {
	content: "\e622";
}
.icon-file-text:before {
	content: "\e623";
}
.icon-profile:before {
	content: "\e624";
}
.icon-file-empty:before {
	content: "\e625";
}
.icon-files-empty:before {
	content: "\e626";
}
.icon-file-text2:before {
	content: "\e627";
}
.icon-file-picture:before {
	content: "\e628";
}
.icon-file-music:before {
	content: "\e629";
}
.icon-file-play:before {
	content: "\e62a";
}
.icon-file-video:before {
	content: "\e62b";
}
.icon-file-zip:before {
	content: "\e62c";
}
.icon-copy:before {
	content: "\e62d";
}
.icon-paste:before {
	content: "\e62e";
}
.icon-stack:before {
	content: "\e62f";
}
.icon-folder:before {
	content: "\e630";
}
.icon-folder-open:before {
	content: "\e631";
}
.icon-folder-plus:before {
	content: "\e632";
}
.icon-folder-minus:before {
	content: "\e633";
}
.icon-folder-download:before {
	content: "\e634";
}
.icon-folder-upload:before {
	content: "\e635";
}
.icon-price-tag:before {
	content: "\e636";
}
.icon-price-tags:before {
	content: "\e637";
}
.icon-barcode:before {
	content: "\e638";
}
.icon-qrcode:before {
	content: "\e639";
}
.icon-ticket:before {
	content: "\e63a";
}
.icon-cart:before {
	content: "\e63b";
}
.icon-coin-dollar:before {
	content: "\e63c";
}
.icon-coin-euro:before {
	content: "\e63d";
}
.icon-coin-pound:before {
	content: "\e63e";
}
.icon-coin-yen:before {
	content: "\e63f";
}
.icon-credit-card:before {
	content: "\e640";
}
.icon-calculator:before {
	content: "\e641";
}
.icon-lifebuoy:before {
	content: "\e642";
}
.icon-history:before {
	content: "\e643";
}
.icon-clock:before {
	content: "\e644";
}
.icon-clock2:before {
	content: "\e645";
}
.icon-alarm:before {
	content: "\e646";
}
.icon-bell:before {
	content: "\e647";
}
.icon-stopwatch:before {
	content: "\e648";
}
.icon-calendar:before {
	content: "\e649";
}
.icon-printer:before {
	content: "\e64a";
}
.icon-keyboard:before {
	content: "\e64b";
}
.icon-display:before {
	content: "\e64c";
}
.icon-laptop:before {
	content: "\e64d";
}
.icon-mobile:before {
	content: "\e64e";
}
.icon-mobile2:before {
	content: "\e64f";
}
.icon-tablet:before {
	content: "\e650";
}
.icon-tv:before {
	content: "\e651";
}
.icon-drawer:before {
	content: "\e652";
}
.icon-drawer2:before {
	content: "\e653";
}
.icon-box-add:before {
	content: "\e654";
}
.icon-box-remove:before {
	content: "\e655";
}
.icon-download:before {
	content: "\e656";
}
.icon-upload:before {
	content: "\e657";
}
.icon-floppy-disk:before {
	content: "\e658";
}
.icon-drive:before {
	content: "\e659";
}
.icon-database:before {
	content: "\e65a";
}
.icon-undo:before {
	content: "\e65b";
}
.icon-redo:before {
	content: "\e65c";
}
.icon-undo2:before {
	content: "\e65d";
}
.icon-redo2:before {
	content: "\e65e";
}
.icon-forward:before {
	content: "\e65f";
}
.icon-reply:before {
	content: "\e660";
}
.icon-bubble:before {
	content: "\e661";
}
.icon-bubbles:before {
	content: "\e662";
}
.icon-bubbles2:before {
	content: "\e663";
}
.icon-bubble2:before {
	content: "\e664";
}
.icon-bubbles3:before {
	content: "\e665";
}
.icon-bubbles4:before {
	content: "\e666";
}
.icon-user:before {
	content: "\e667";
}
.icon-users:before {
	content: "\e668";
}
.icon-user-plus:before {
	content: "\e669";
}
.icon-user-minus:before {
	content: "\e66a";
}
.icon-user-check:before {
	content: "\e66b";
}
.icon-user-tie:before {
	content: "\e66c";
}
.icon-quotes-left:before {
	content: "\e66d";
}
.icon-quotes-right:before {
	content: "\e66e";
}
.icon-hour-glass:before {
	content: "\e66f";
}
.icon-spinner:before {
	content: "\e670";
}
.icon-spinner2:before {
	content: "\e671";
}
.icon-spinner3:before {
	content: "\e672";
}
.icon-spinner4:before {
	content: "\e673";
}
.icon-spinner5:before {
	content: "\e674";
}
.icon-spinner6:before {
	content: "\e675";
}
.icon-spinner7:before {
	content: "\e676";
}
.icon-spinner8:before {
	content: "\e677";
}
.icon-spinner9:before {
	content: "\e678";
}
.icon-spinner10:before {
	content: "\e679";
}
.icon-spinner11:before {
	content: "\e67a";
}
.icon-binoculars:before {
	content: "\e67b";
}
.icon-search:before {
	content: "\e67c";
}
.icon-zoom-in:before {
	content: "\e67d";
}
.icon-zoom-out:before {
	content: "\e67e";
}
.icon-enlarge:before {
	content: "\e67f";
}
.icon-shrink:before {
	content: "\e680";
}
.icon-enlarge2:before {
	content: "\e681";
}
.icon-shrink2:before {
	content: "\e682";
}
.icon-key:before {
	content: "\e683";
}
.icon-key2:before {
	content: "\e684";
}
.icon-lock:before {
	content: "\e685";
}
.icon-unlocked:before {
	content: "\e686";
}
.icon-wrench:before {
	content: "\e687";
}
.icon-equalizer:before {
	content: "\e688";
}
.icon-equalizer2:before {
	content: "\e689";
}
.icon-cog:before {
	content: "\e68a";
}
.icon-cogs:before {
	content: "\e68b";
}
.icon-hammer:before {
	content: "\e68c";
}
.icon-magic-wand:before {
	content: "\e68d";
}
.icon-aid-kit:before {
	content: "\e68e";
}
.icon-bug:before {
	content: "\e68f";
}
.icon-eye-minus:before {
	content: "\e690";
}
.icon-eye-blocked:before {
	content: "\e691";
}
.icon-bookmark:before {
	content: "\e692";
}
.icon-bookmarks:before {
	content: "\e693";
}
.icon-sun:before {
	content: "\e694";
}
.icon-contrast:before {
	content: "\e695";
}
.icon-brightness-contrast:before {
	content: "\e696";
}
.icon-star-empty:before {
	content: "\e697";
}
.icon-star-half:before {
	content: "\e698";
}
.icon-star-full:before {
	content: "\e699";
}
.icon-heart:before {
	content: "\e69a";
}
.icon-heart-broken:before {
	content: "\e69b";
}
.icon-man:before {
	content: "\e69c";
}
.icon-woman:before {
	content: "\e69d";
}
.icon-man-woman:before {
	content: "\e69e";
}
.icon-happy:before {
	content: "\e69f";
}
.icon-happy2:before {
	content: "\e6a0";
}
.icon-smile:before {
	content: "\e6a1";
}
.icon-smile2:before {
	content: "\e6a2";
}
.icon-tongue:before {
	content: "\e6a3";
}
.icon-tongue2:before {
	content: "\e6a4";
}
.icon-sad:before {
	content: "\e6a5";
}
.icon-sad2:before {
	content: "\e6a6";
}
.icon-wink:before {
	content: "\e6a7";
}
.icon-wink2:before {
	content: "\e6a8";
}
.icon-grin:before {
	content: "\e6a9";
}
.icon-grin2:before {
	content: "\e6aa";
}
.icon-cool:before {
	content: "\e6ab";
}
.icon-cool2:before {
	content: "\e6ac";
}
.icon-angry:before {
	content: "\e6ad";
}
.icon-angry2:before {
	content: "\e6ae";
}
.icon-evil:before {
	content: "\e6af";
}
.icon-evil2:before {
	content: "\e6b0";
}
.icon-shocked:before {
	content: "\e6b1";
}
.icon-shocked2:before {
	content: "\e6b2";
}
.icon-baffled:before {
	content: "\e6b3";
}
.icon-baffled2:before {
	content: "\e6b4";
}
.icon-confused:before {
	content: "\e6b5";
}
.icon-confused2:before {
	content: "\e6b6";
}
.icon-neutral:before {
	content: "\e6b7";
}
.icon-neutral2:before {
	content: "\e6b8";
}
.icon-hipster:before {
	content: "\e6b9";
}
.icon-hipster2:before {
	content: "\e6ba";
}
.icon-wondering:before {
	content: "\e6bb";
}
.icon-wondering2:before {
	content: "\e6bc";
}
.icon-sleepy:before {
	content: "\e6bd";
}
.icon-sleepy2:before {
	content: "\e6be";
}
.icon-frustrated:before {
	content: "\e6bf";
}
.icon-frustrated2:before {
	content: "\e6c0";
}
.icon-crying:before {
	content: "\e6c1";
}
.icon-crying2:before {
	content: "\e6c2";
}
.icon-point-up:before {
	content: "\e6c3";
}
.icon-point-right:before {
	content: "\e6c4";
}
.icon-point-down:before {
	content: "\e6c5";
}
.icon-point-left:before {
	content: "\e6c6";
}
.icon-warning:before {
	content: "\e6c7";
}
.icon-notification:before {
	content: "\e6c8";
}
.icon-question:before {
	content: "\e6c9";
}
.icon-plus:before {
	content: "\e6ca";
}
.icon-minus:before {
	content: "\e6cb";
}
.icon-info:before {
	content: "\e6cc";
}
.icon-cancel-circle:before {
	content: "\e6cd";
}
.icon-blocked:before {
	content: "\e6ce";
}
.icon-cross:before {
	content: "\e6cf";
}
.icon-checkmark:before {
	content: "\e6d0";
}
.icon-checkmark2:before {
	content: "\e6d1";
}
.icon-spell-check:before {
	content: "\e6d2";
}
.icon-enter:before {
	content: "\e6d3";
}
.icon-exit:before {
	content: "\e6d4";
}
.icon-play2:before {
	content: "\e6d5";
}
.icon-pause:before {
	content: "\e6d6";
}
.icon-stop:before {
	content: "\e6d7";
}
.icon-previous:before {
	content: "\e6d8";
}
.icon-next:before {
	content: "\e6d9";
}
.icon-backward:before {
	content: "\e6da";
}
.icon-forward2:before {
	content: "\e6db";
}
.icon-play3:before {
	content: "\e6dc";
}
.icon-pause2:before {
	content: "\e6dd";
}
.icon-stop2:before {
	content: "\e6de";
}
.icon-backward2:before {
	content: "\e6df";
}
.icon-forward3:before {
	content: "\e6e0";
}
.icon-first:before {
	content: "\e6e1";
}
.icon-last:before {
	content: "\e6e2";
}
.icon-previous2:before {
	content: "\e6e3";
}
.icon-next2:before {
	content: "\e6e4";
}
.icon-eject:before {
	content: "\e6e5";
}
.icon-volume-high:before {
	content: "\e6e6";
}
.icon-volume-medium:before {
	content: "\e6e7";
}
.icon-volume-low:before {
	content: "\e6e8";
}
.icon-volume-mute:before {
	content: "\e6e9";
}
.icon-volume-mute2:before {
	content: "\e6ea";
}
.icon-volume-increase:before {
	content: "\e6eb";
}
.icon-volume-decrease:before {
	content: "\e6ec";
}
.icon-loop:before {
	content: "\e6ed";
}
.icon-loop2:before {
	content: "\e6ee";
}
.icon-infinite:before {
	content: "\e6ef";
}
.icon-shuffle:before {
	content: "\e6f0";
}
.icon-arrow-up-left:before {
	content: "\e6f1";
}
.icon-arrow-up:before {
	content: "\e6f2";
}
.icon-arrow-up-right:before {
	content: "\e6f3";
}
.icon-arrow-right:before {
	content: "\e6f4";
}
.icon-arrow-down-right:before {
	content: "\e6f5";
}
.icon-arrow-down:before {
	content: "\e6f6";
}
.icon-arrow-down-left:before {
	content: "\e6f7";
}
.icon-arrow-left:before {
	content: "\e6f8";
}
.icon-arrow-up-left2:before {
	content: "\e6f9";
}
.icon-arrow-up2:before {
	content: "\e6fa";
}
.icon-arrow-up-right2:before {
	content: "\e6fb";
}
.icon-arrow-right2:before {
	content: "\e6fc";
}
.icon-arrow-down-right2:before {
	content: "\e6fd";
}
.icon-arrow-down2:before {
	content: "\e6fe";
}
.icon-arrow-down-left2:before {
	content: "\e6ff";
}
.icon-arrow-left2:before {
	content: "\e700";
}
.icon-circle-up:before {
	content: "\e701";
}
.icon-circle-right:before {
	content: "\e702";
}
.icon-circle-down:before {
	content: "\e703";
}
.icon-circle-left:before {
	content: "\e704";
}
.icon-tab:before {
	content: "\e705";
}
.icon-move-up:before {
	content: "\e706";
}
.icon-move-down:before {
	content: "\e707";
}
.icon-sort-alpha-asc:before {
	content: "\e708";
}
.icon-sort-alpha-desc:before {
	content: "\e709";
}
.icon-sort-numeric-asc:before {
	content: "\e70a";
}
.icon-sort-numberic-desc:before {
	content: "\e70b";
}
.icon-sort-amount-asc:before {
	content: "\e70c";
}
.icon-sort-amount-desc:before {
	content: "\e70d";
}
.icon-command:before {
	content: "\e70e";
}
.icon-shift:before {
	content: "\e70f";
}
.icon-ctrl:before {
	content: "\e710";
}
.icon-opt:before {
	content: "\e711";
}
.icon-checkbox-checked:before {
	content: "\e712";
}
.icon-checkbox-unchecked:before {
	content: "\e713";
}
.icon-radio-checked:before {
	content: "\e714";
}
.icon-radio-checked2:before {
	content: "\e715";
}
.icon-radio-unchecked:before {
	content: "\e716";
}
.icon-crop:before {
	content: "\e717";
}
.icon-make-group:before {
	content: "\e718";
}
.icon-ungroup:before {
	content: "\e719";
}
.icon-scissors:before {
	content: "\e71a";
}
.icon-filter:before {
	content: "\e71b";
}
.icon-font:before {
	content: "\e71c";
}
.icon-ligature:before {
	content: "\e71d";
}
.icon-ligature2:before {
	content: "\e71e";
}
.icon-text-height:before {
	content: "\e71f";
}
.icon-bold:before {
	content: "\e720";
}
.icon-underline:before {
	content: "\e721";
}
.icon-italic:before {
	content: "\e722";
}
.icon-strikethrough:before {
	content: "\e723";
}
.icon-omega:before {
	content: "\e724";
}
.icon-sigma:before {
	content: "\e725";
}
.icon-page-break:before {
	content: "\e726";
}
.icon-superscript:before {
	content: "\e727";
}
.icon-subscript:before {
	content: "\e728";
}
.icon-superscript2:before {
	content: "\e729";
}
.icon-subscript2:before {
	content: "\e72a";
}
.icon-text-color:before {
	content: "\e72b";
}
.icon-pagebreak:before {
	content: "\e72c";
}
.icon-clear-formatting:before {
	content: "\e72d";
}
.icon-table:before {
	content: "\e72e";
}
.icon-table2:before {
	content: "\e72f";
}
.icon-insert-template:before {
	content: "\e730";
}
.icon-pilcrow:before {
	content: "\e731";
}
.icon-ltr:before {
	content: "\e732";
}
.icon-rtl:before {
	content: "\e733";
}
.icon-section:before {
	content: "\e734";
}
.icon-paragraph-center:before {
	content: "\e735";
}
.icon-paragraph-right:before {
	content: "\e736";
}
.icon-paragraph-justify:before {
	content: "\e737";
}
.icon-indent-increase:before {
	content: "\e738";
}
.icon-indent-decrease:before {
	content: "\e739";
}
.icon-share:before {
	content: "\e73a";
}
.icon-new-tab:before {
	content: "\e73b";
}
.icon-embed:before {
	content: "\e73c";
}
.icon-embed2:before {
	content: "\e73d";
}
.icon-share2:before {
	content: "\e73e";
}
.icon-mail:before {
	content: "\e73f";
}
.icon-mail2:before {
	content: "\e740";
}
.icon-mail3:before {
	content: "\e741";
}
.icon-mail4:before {
	content: "\e742";
}
.icon-google:before {
	content: "\e743";
}
.icon-google-plus:before {
	content: "\e744";
}
.icon-google-plus2:before {
	content: "\e745";
}
.icon-google-plus3:before {
	content: "\e746";
}
.icon-google-drive:before {
	content: "\e747";
}
.icon-facebook2:before {
	content: "\e748";
}
.icon-facebook3:before {
	content: "\e749";
}
.icon-ello:before {
	content: "\e74a";
}
.icon-instagram:before {
	content: "\e74b";
}
.icon-twitter:before {
	content: "\e74c";
}
.icon-twitter2:before {
	content: "\e74d";
}
.icon-twitter3:before {
	content: "\e74e";
}
.icon-feed2:before {
	content: "\e74f";
}
.icon-feed3:before {
	content: "\e750";
}
.icon-feed4:before {
	content: "\e751";
}
.icon-youtube:before {
	content: "\e752";
}
.icon-youtube2:before {
	content: "\e753";
}
.icon-youtube3:before {
	content: "\e754";
}
.icon-youtube4:before {
	content: "\e755";
}
.icon-twitch:before {
	content: "\e756";
}
.icon-vimeo:before {
	content: "\e757";
}
.icon-vimeo2:before {
	content: "\e758";
}
.icon-vimeo3:before {
	content: "\e759";
}
.icon-lanyrd:before {
	content: "\e75a";
}
.icon-flickr:before {
	content: "\e75b";
}
.icon-flickr2:before {
	content: "\e75c";
}
.icon-flickr3:before {
	content: "\e75d";
}
.icon-flickr4:before {
	content: "\e75e";
}
.icon-picassa:before {
	content: "\e75f";
}
.icon-picassa2:before {
	content: "\e760";
}
.icon-dribbble:before {
	content: "\e761";
}
.icon-dribbble2:before {
	content: "\e762";
}
.icon-dribbble3:before {
	content: "\e763";
}
.icon-forrst:before {
	content: "\e764";
}
.icon-forrst2:before {
	content: "\e765";
}
.icon-deviantart:before {
	content: "\e766";
}
.icon-deviantart2:before {
	content: "\e767";
}
.icon-steam:before {
	content: "\e768";
}
.icon-steam2:before {
	content: "\e769";
}
.icon-dropbox:before {
	content: "\e76a";
}
.icon-onedrive:before {
	content: "\e76b";
}
.icon-github:before {
	content: "\e76c";
}
.icon-github2:before {
	content: "\e76d";
}
.icon-github3:before {
	content: "\e76e";
}
.icon-github4:before {
	content: "\e76f";
}
.icon-github5:before {
	content: "\e770";
}
.icon-wordpress:before {
	content: "\e771";
}
.icon-wordpress2:before {
	content: "\e772";
}
.icon-joomla:before {
	content: "\e773";
}
.icon-blogger:before {
	content: "\e774";
}
.icon-blogger2:before {
	content: "\e775";
}
.icon-tumblr:before {
	content: "\e776";
}
.icon-tumblr2:before {
	content: "\e777";
}
.icon-yahoo:before {
	content: "\e778";
}
.icon-tux:before {
	content: "\e779";
}
.icon-apple:before {
	content: "\e77a";
}
.icon-finder:before {
	content: "\e600";
}
.icon-android:before {
	content: "\e77b";
}
.icon-windows:before {
	content: "\e77c";
}
.icon-windows8:before {
	content: "\e77d";
}
.icon-soundcloud:before {
	content: "\e77e";
}
.icon-soundcloud2:before {
	content: "\e77f";
}
.icon-skype:before {
	content: "\e780";
}
.icon-reddit:before {
	content: "\e781";
}
.icon-linkedin:before {
	content: "\e782";
}
.icon-linkedin2:before {
	content: "\e783";
}
.icon-lastfm:before {
	content: "\e784";
}
.icon-lastfm2:before {
	content: "\e785";
}
.icon-delicious:before {
	content: "\e786";
}
.icon-stumbleupon:before {
	content: "\e787";
}
.icon-stumbleupon2:before {
	content: "\e788";
}
.icon-stackoverflow:before {
	content: "\e789";
}
.icon-pinterest:before {
	content: "\e78a";
}
.icon-pinterest2:before {
	content: "\e78b";
}
.icon-xing:before {
	content: "\e78c";
}
.icon-xing2:before {
	content: "\e78d";
}
.icon-flattr:before {
	content: "\e78e";
}
.icon-foursquare:before {
	content: "\e78f";
}
.icon-paypal:before {
	content: "\e790";
}
.icon-paypal2:before {
	content: "\e791";
}
.icon-paypal3:before {
	content: "\e792";
}
.icon-yelp:before {
	content: "\e793";
}
.icon-file-pdf:before {
	content: "\e794";
}
.icon-file-openoffice:before {
	content: "\e795";
}
.icon-file-word:before {
	content: "\e796";
}
.icon-file-excel:before {
	content: "\e797";
}
.icon-libreoffice:before {
	content: "\e798";
}
.icon-html5:before {
	content: "\e799";
}
.icon-html52:before {
	content: "\e79a";
}
.icon-css3:before {
	content: "\e79b";
}
.icon-git:before {
	content: "\e79c";
}
.icon-IE:before {
	content: "\e79d";
}
.icon-opera:before {
	content: "\e79e";
}
