﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>In this example the ComboBox is bound to a Remote Data.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script> 
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcombobox.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            // prepare the data
            var source =
            {
                datatype: "jsonp",
                datafields: [
                    { name: 'countryName' },
                    { name: 'name' },
                    { name: 'population', type: 'float' },
                    { name: 'continentCode' }
                ],
                url: "http://api.geonames.org/searchJSON",
                data: {
                    featureClass: "P",
                    style: "full",
                    maxRows: 50,
                    username: "ngwidgets"
                }
            };

            var dataAdapter = new ngWidgets.ngx.dataAdapter(source);

            $scope.comboBoxSettings =
            {
                width: 200,
                height: 25,
                source: dataAdapter,
                selectedIndex: 0,
                displayMember: "countryName",
                valueMember: "name"
            };

            // trigger the select event.
            $scope.selectHandler = function (event) {
                if (event.args) {
                    var item = event.args.item;
                    if (item) {
                        $scope.log = "Label: " + item.label + ", Value: " + item.value;
                    }
                }
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-combo-box ngx-settings="comboBoxSettings" ngx-on-select="selectHandler(event)"></ngx-combo-box>
    <br />
    {{log}}
</body>
</html>
