﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <meta name="keywords" content="AngularJS ngxComboBox, List, ListBox, Popup List, ngxDropDownList, ngxListBox, List Widget, ListBox Widget, DropDownList Widget" />
    <meta name="description" content="The ngxDropDownList represents a widget that contains a list of selectable items." />
    <title id='Description'>In this demo the ngxComboBox is bound to XML data.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcombobox.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            var url = "../sampledata/customers.xml";

            // prepare the data
            var source =
            {
                datatype: "xml",
                datafields: [
                    { name: 'CompanyName', map: 'm\\:properties>d\\:CompanyName' },
                    { name: 'ContactName', map: 'm\\:properties>d\\:ContactName' },
                ],
                root: "entry",
                record: "content",
                id: 'm\\:properties>d\\:CustomerID',
                url: url
            };

            var dataAdapter = new ngWidgets.ngx.dataAdapter(source, { async: false });

            // Create a ngxComboBox
            $scope.comboboxSettings = { selectedIndex: 0, source: dataAdapter, displayMember: "ContactName", valueMember: "CompanyName", width: 200, height: 25 };
            // trigger the select event.
            $scope.selectHandler = function (event) {
                if (event.args) {
                    var item = event.args.item;
                    if (item) {
                        $scope.log = "Label: " + item.label + ", Value: " + item.value;
                    }
                }
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-combo-box ngx-on-select="selectHandler(event)" ngx-settings="comboboxSettings"></ngx-combo-box>
    <br />
    {{log}}
</body>
</html>
