﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <meta name="keywords" content="AngularJS ComboBox, List, ComboBox, Popup List, ngxDropDownList, ngxListBox, List Widget, ListBox Widget, DropDownList Widget" />
    <meta name="description" content="In this demo the ComboBox is bound to JSON data" />
    <title id='Description'>In this demo the ComboBox is bound to JSON data.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcombobox.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            var url = "../sampledata/customers.txt";

            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'CompanyName' },
                    { name: 'ContactName' }
                ],
                url: url,
                async: false
            };

            var dataAdapter = new ngWidgets.ngx.dataAdapter(source);

            // Create a ngxComboBox
            $scope.comboboxSettings = { selectedIndex: 0, source: dataAdapter, displayMember: "ContactName", valueMember: "CompanyName", width: 200, height: 25 };

            // trigger the select event.
            $scope.selectHandler = function (event) {
                if (event.args) {
                    var item = event.args.item;
                    if (item) {
                        $scope.log = "Label: " + item.label + ", Value: " + item.value;
                    }
                }
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-combo-box ngx-on-select="selectHandler(event)" ngx-settings="comboboxSettings"></ngx-combo-box>
    <br />
    {{log}}
</body>
</html>
