﻿<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <title id='Description'>In this demo the ngxDropDownList is bound to JSON data.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdropdownlist.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            var url = "../sampledata/customers.txt";

            // prepare the data
            var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'CompanyName' },
                    { name: 'ContactName' }
                ],
                id: 'id',
                url: url
            };
            var dataAdapter = new ngWidgets.ngx.dataAdapter(source);

            // Create a ngxListBox
            $scope.settings = { source: dataAdapter, displayMember: "ContactName", valueMember: "CompanyName", width: 200, height: 25 };
            $scope.selectItem = function (event) {
                if (event.args) {
                    var item = event.args.item;
                    if (item) {
                        $scope.log = "Value: " + item.value + ", Label: " + item.label;
                    }
                }
            };
        });
    </script>

</head>
<body ng-controller="demoController">
    <ngx-drop-down-list ngx-settings="settings" ngx-on-select="selectItem(event)"></ngx-drop-down-list>
    {{log}}
</body>
</html>
