﻿<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <meta name="keywords" content="AngularJS DropDownList, List, ListBox, Popup List, ngxDropDownList, ngxListBox, List Widget, ListBox Widget, DropDownList Widget" />
    <meta name="description" content="The ngxListBox can display checkboxes next to its items. You can enable this feature by setting the 'checkboxes' property to true." />
    <title id='Description'>The ngxDropDownList can display checkboxes next to its items. You can enable this feature by setting the 'checkboxes' property to true. </title>
    <link rel="stylesheet" type="text/css" href="../../ngwidgets/styles/ngx.base.css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdropdownlist.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            var source = [
                "Affogato",
                "Americano",
                "Bicerin",
                "Breve",
                "Café Bombón",
                "Café au lait",
                "Caffé Corretto",
                "Café Crema",
                "Caffé Latte",
                "Caffé macchiato",
                "Café mélange",
                "Coffee milk",
                "Cafe mocha",
                "Cappuccino",
                "Carajillo",
                "Cortado",
                "Cuban espresso",
                "Espresso",
                "Eiskaffee",
                "The Flat White",
                "Frappuccino",
                "Galao",
                "Greek frappé coffee",
                "Iced Coffee﻿",
                "Indian filter coffee",
                "Instant coffee",
                "Irish coffee",
                "Liqueur coffee"
            ];
            $scope.dropDownListInstance = {};
            $scope.checkedItems = "";
            $scope.eventData = "";

            // Create a ngxListBox
            $scope.settings = {
                width: 200, source: source, checkboxes: true, height: 25,
                created: function (args) {
                    var instance = args.instance;
                    instance.checkIndex(0);
                    instance.checkIndex(1);
                    instance.checkIndex(2);
                    instance.checkIndex(5);
                    $scope.dropDownListInstance = instance;
                }
            };

            $scope.checkChange = function (event) {
                var args = event.args;
                if (args.checked) {
                    $scope.eventData = "Checked: " + args.label;
                }
                else {
                    $scope.eventData = "Unchecked: " + args.label;
                }

                var items =  $scope.dropDownListInstance.getCheckedItems();
                var checkedItems = "";
                $.each(items, function (index) {
                    if (index < items.length - 1) {
                        checkedItems += this.label + ", ";
                    }
                    else checkedItems += this.label;
                });
                $scope.checkedItems = checkedItems;
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-drop-down-list ngx-settings="settings"></ngx-drop-down-list>
    <div style="font-size: 13px; font-family: Verdana; margin-top: 20px;">{{eventData}}</div>
    <div style="font-size: 13px; font-family: Verdana; margin-top: 10px;">{{checkedItems}}</div>
</body>
</html>
