﻿<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <title id='Description'>The ngxDropDownList comes with several useful events. When the user selects an item, the 'select' and 'unselect' events are triggered.    
    </title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdropdownlist.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            var source = [
              "Affogato",
              "Americano",
              "Bicerin",
              "Breve",
              "Café Bombón",
              "Café au lait",
              "Caffé Corretto",
              "Café Crema",
              "Caffé Latte",
              "Caffé macchiato",
              "Café mélange",
              "Coffee milk",
              "Cafe mocha",
              "Cappuccino",
              "Carajillo",
              "Cortado",
              "Cuban espresso",
              "Espresso",
              "Eiskaffee",
              "The Flat White",
              "Frappuccino",
              "Galao",
              "Greek frappé coffee",
              "Iced Coffee﻿",
              "Indian filter coffee",
              "Instant coffee",
              "Irish coffee",
              "Liqueur coffee"
            ];
            // listbox settings.
            $scope.settings = { source: source, width: 200, height: 25 };
         
            $scope.onSelect = function (event) {
                var args = event.args;
                if (args)
                {
                    $scope.selectLog = 'Selected: ' + args.item.label;
                }
            };
            
            $scope.onUnselect = function (event) {
                var args = event.args;
                if (args && args.item)
                {
                    $scope.unselectLog = 'Unselected: ' + args.item.label;
                }
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-drop-down-list ngx-instance="listBox" ngx-on-select="onSelect(event)" ngx-on-unselect="onUnselect(event)" ngx-settings="settings"></ngx-drop-down-list>
    <br />
    <div style="font-family: 'segoe ui', arial, sans-serif;">
    select event log: {{selectLog}}
    <br />
    unselect event log: {{unselectLog}}
    </div>
</body>
</html>
