﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>In this example is demonstrated how to use the ngxListBox with Search field. ListBox is automatically updated when a character is entered into the search field.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxinput.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope, $timeout) {
            $scope.searchValue = "";
            var source =
            {
                datatype: "jsonp",
                datafields: [
                    { name: 'countryName' },
                    { name: 'name' },
                    { name: 'population', type: 'float' },
                    { name: 'continentCode' },
                    { name: 'adminName1' }
                ],
                url: "http://api.geonames.org/searchJSON",
                data: {
                    featureClass: "P",
                    style: "full",
                    maxRows: 50,
                    username: "ngwidgets"
                }
            };

            var dataAdapter = new ngWidgets.ngx.dataAdapter(source,
                {
                    formatData: function (data) {
                        data.name_startsWith = $scope.searchValue;
                        return data;
                    }
                }
            );

            $scope.settings =
            {
                width: 320,
                height: 350,
                source: dataAdapter, 
                selectedIndex: 0,
                displayMember: "name",
                valueMember: "countryName",
                renderer: function (index, label, value) {
                    var item = dataAdapter.records[index];
                    if (item != null) {
                        var label = item.name + "(" + item.countryName + ", " + item.adminName1 + ")";
                        return label;
                    }
                    return "";
                }
            };

            var me = this;
            $scope.keyupHandler = function (event) {
                if (me.timeout) {
                    $timeout.cancel(me.timeout);
                }
                me.timeout = $timeout(function () {
                    dataAdapter.dataBind();
                }, 300);
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <div>
        <div>
          <span style='float: left; margin-top: 5px; margin-right: 4px;'>Search for a City: </span>
          <ngx-input ng-model="searchValue" ng-keyup="keyupHandler(event)" ngx-place-holder="'Type a City name here'" ngx-height="23" ngx-width="197" style="float: left;"></ngx-input>
        </div>
        <div style="clear: both;"></div>
        <ngx-list-box style="margin-top: 10px;" ngx-settings="settings"></ngx-list-box>
    </div>
</body>
</html>
