﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>To select multiple items in the AngularJS ListBox, press 'Shift' or 'Ctrl' and click on any item.
    </title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            var source = [
                    "Affogato",
                    "Americano",
                    "Bicerin",
                    "Breve",
                    "Café Bombón",
                    "Café au lait",
                    "Caffé Corretto",
                    "Café Crema",
                    "Caffé Latte",
                    "Caffé macchiato",
                    "Café mélange",
                    "Coffee milk",
                    "Cafe mocha",
                    "Cappuccino",
                    "Carajillo",
                    "Cortado",
                    "Cuban espresso",
                    "Espresso",
                    "Eiskaffee",
                    "The Flat White",
                    "Frappuccino",
                    "Galao",
                    "Greek frappé coffee",
                    "Iced Coffee﻿",
                    "Indian filter coffee",
                    "Instant coffee",
                    "Irish coffee",
                    "Liqueur coffee"
            ];
            $scope.listBox = {};
            // display selected List Items.
            var displaySelectedItems = function () {
                var items = $scope.listBox.getSelectedItems();
                var selection = "Selected Items: ";
                for (var i = 0; i < items.length; i++) {
                    selection += items[i].label + (i < items.length - 1 ? ", " : "");
                }
                $scope.log = selection;
            }

            // Create a ngxListBox
            $scope.settings = {
                created: function (args) {
                    $scope.listBox = args.instance;
                    displaySelectedItems();
                    $scope.change = function (event) {
                        displaySelectedItems();
                    };
                },
                source: source, selectedIndex: 1, multipleextended: true, width: 200, height: 250
            };
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-list-box ngx-on-change="change(event)" ngx-settings="settings"></ngx-list-box>
    {{log}}
</body>
</html>
