﻿<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <meta name="keywords" content="AngularJS DropDownList, List, ListBox, Popup List, ngxDropDownList, ngxListBox, List Widget, ListBox Widget, DropDownList Widget" />
    <meta name="description" content="The ngxListBox represents a widget that contains a list of selectable items." />
    <title id='Description'>In this demo the ngxListBox is bound to XML data.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/angular.min.js"></script>
	<script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
	<script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"></script>
<script type="text/javascript">
    var demoApp = angular.module("demoApp", ["ngwidgets"]);
    demoApp.controller("demoController", function ($scope) {
        var url = "../sampledata/customers.xml";

        // prepare the data
        var source =
        {
            datatype: "xml",
            datafields: [
                { name: 'CompanyName', map: 'm\\:properties>d\\:CompanyName' },
                { name: 'ContactName', map: 'm\\:properties>d\\:ContactName' },
            ],
            root: "entry",
            record: "content",
            id: 'm\\:properties>d\\:CustomerID',
            url: url
        };

        var dataAdapter = new ngWidgets.ngx.dataAdapter(source, { async: false });

        // Create a ngxListBox
        $scope.settings = { source: dataAdapter, displayMember: "ContactName", valueMember: "CompanyName", width: 200, height: 250 };
        $scope.selectItem = function (event) {
            if (event.args) {
                var item = event.args.item;
                if (item) {
                    $scope.log = "Value: " + item.value + ", Label: " + item.label;
                }
            }
        };
    });
        </script>
</head>
<body ng-controller="demoController">
        <ngx-list-box ngx-on-select="selectItem(event)" ngx-settings="settings"></ngx-list-box>
        {{log}}
</body>
</html>
