﻿<!DOCTYPE html>
<html ng-app="demoApp" lang="en">
<head>
    <title id='Description'>The demo demonstrates the Minimized state of ngxMenu.</title>
    <link rel="stylesheet" href="../../ngwidgets/styles/ngx.base.css" type="text/css" />
     <script type="text/javascript" src="../../scripts/angular.min.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxmenu.js"></script>
    <script type="text/javascript" src="../../ngwidgets/ngxcheckbox.js"></script>
    <script type="text/javascript" src="../../scripts/demos.js"></script>
    <script type="text/javascript">
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.checked = true;
            var menu = {};
            $scope.menuSettings = {
                width: '100%', height: '32px',
                created: function (args) {
                    menu = args.instance;
                    menu.minimize();
                }
            };
            $scope.changeState = function () {
                if ($scope.checked) {
                    menu.minimize();
                }
                else
                {
                    menu.restore();
                }
            }
        });
    </script>
</head>
<body ng-controller="demoController">
    <ngx-menu ngx-settings="menuSettings">
        <ul>
            <li><a href="#Home">Home</a></li>
            <li><a href="#Solutions">Solutions</a>
                <ul style='width: 250px;'>
                    <li><a href="#Education">Education</a></li>
                    <li><a href="#Financial">Financial services</a></li>
                    <li><a href="#Government">Government</a></li>
                    <li><a href="#Manufacturing">Manufacturing</a></li>
                    <li type='separator'></li>
                    <li>Software Solutions
                                <ul style='width: 220px;'>
                                    <li><a href="#ConsumerPhoto">Consumer photo and video</a></li>
                                    <li><a href="#Mobile">Mobile</a></li>
                                    <li><a href="#RIA">Rich Internet applications</a></li>
                                    <li><a href="#TechnicalCommunication">Technical communication</a></li>
                                    <li><a href="#Training">Training and eLearning</a></li>
                                    <li><a href="#WebConferencing">Web conferencing</a></li>
                                </ul>
                    </li>
                    <li><a href="#">All industries and solutions</a></li>
                </ul>
            </li>
            <li><a href="#Products">Products</a>
                <ul>
                    <li><a href="#PCProducts">PC products</a></li>
                    <li><a href="#MobileProducts">Mobile products</a></li>
                    <li><a href="#AllProducts">All products</a></li>
                </ul>
            </li>     
        </ul>
    </ngx-menu>
    <br />
    <br />
    <ngx-check-box ng-model="checked" ng-change="changeState($event)">Minimized</ngx-check-box>
</body>
</html>
