﻿<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../styles/prettify.css" type="text/css" />
    <link rel="stylesheet" href="../../styles/documentation.css" type="text/css" />
    <script type="text/javascript" src="../../scripts/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../scripts/prettify.js"></script>
    <title>Using ngModel</title>
    <script type="text/javascript">
        $(document).ready(function () {
            prettyPrint();
        });
    </script>
</head>
<body>
<div style="line-height: 120%; font-size: 24px; padding: 10px; padding-left: 0px; padding-top: 20px;">ngModel</div>
The inputs and lists like ngxDateTimeInput, ngxCheckBox, ngxRadioButton, ngxListBox, ngxDropDownList, ngxComboBox, ngxCalendar support the ngModel directive which binds the widget's value to a property on the scope. When you use the ngModel, you will get the widget's value as a string, unless you add the ngx-ng-model attribute. For example, a ListBox with Items and each item is an object. By using ngModel, you will get the item's value. By adding ngxNgModel, you will get the item's object. A similar case is the ngxDateTimeInput, by default you can bind it to a text, but if you add ngxNgModel, you can get the widget's value which is a JavaScript Date object or if you use the widget in range selection mode, it will be an object with "from" and "to" members where from and to are JavaScript Date objects. 
The ngxRadiobutton directive supports the "value" argument which is the value to which the expression should be set when selected. 
The ngxCheckBox directive supports the "ngTrueValue" and "ngFalseValue" arguments which represent the value to which the expression should be set when selected and not selected.
  <pre class='prettyprint'><code class='language-javascript'> 
&lt;!DOCTYPE&gt;
 &lt;html ng-app="demoApp"&gt;
 &lt;head&gt;
     &lt;title&gt;Using ngModel with ngwidgets &lt;/title&gt;
     &lt;link rel="stylesheet" type="text/css" href="../../ngwidgets/styles/ngx.base.css" /&gt;
     &lt;script type="text/javascript" src="../../scripts/angular.min.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxcore.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxdata.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxbuttons.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxcheckbox.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxinput.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxcalendar.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxradiobutton.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxdatetimeinput.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxlistbox.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxdropdownlist.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/ngxscrollbar.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript" src="../../ngwidgets/globalization/globalize.js"&gt; &lt;/script&gt;
     &lt;script type="text/javascript"&gt;
        var demoApp = angular.module("demoApp", ["ngwidgets"]);
        demoApp.controller("demoController", function ($scope) {
            $scope.user = {
                name: "Brian",
                working: true,
                birthDate: new Date(1980, 3, 2),
                friends: [
                    "Peter",
                    "Nancy",
                    "Michael",
                    "John",
                    "Robert"
                ],
                bestFriend: "Peter",
                married: true,
                color: "Blue",
                car: true,
                children: 'YES'
            };
        });
     &lt;/script&gt;
 &lt;/head&gt;
 &lt;body&gt;
     &lt;div ng-controller="demoController"&gt;
         &lt;form name="userForm"&gt;
             &lt;ngx-input ngx-width="200" ngx-height="25" name="userName" ng-model="user.name"&gt; &lt;/ngx-input&gt;
             &lt;br /&gt;
             &lt;br /&gt;
             &lt;ngx-date-time-input  ngx-width="200" ngx-height="25" ng-model="user.birthDate"&gt; &lt;/ngx-date-time-input&gt;
             &lt;br /&gt;
             &lt;ngx-drop-down-list ngx-auto-drop-down-height="true" ngx-width="200" ngx-height="25" ngx-source="user.friends" ng-model="user.bestFriend"&gt; &lt;/ngx-drop-down-list&gt;
             &lt;br /&gt;
             &lt;ngx-check-box ng-model="user.working"&gt;Working &lt;/ngx-check-box&gt;
             &lt;br /&gt;
             &lt;ngx-radio-button ngx-group-name="'married'" value="true" ng-model="user.married"&gt;Married &lt;/ngx-radio-button&gt;
             &lt;br /&gt;
             &lt;ngx-radio-button ngx-group-name="'married'" value="false" ng-model="user.married"&gt;Not Married &lt;/ngx-radio-button&gt;
             &lt;br /&gt;
            Favorite Color:
             &lt;br /&gt; &lt;br /&gt;
             &lt;ngx-radio-button ngx-group-name="'colors'" value="'Green'" ng-model="user.color"&gt;Green &lt;/ngx-radio-button&gt;
             &lt;br /&gt;
             &lt;ngx-radio-button ngx-group-name="'colors'" value="'Blue'" ng-model="user.color"&gt;Blue &lt;/ngx-radio-button&gt;
             &lt;br /&gt;
             &lt;ngx-check-box  ng-model="user.car"&gt;Car &lt;/ngx-check-box&gt;
             &lt;br /&gt;
             &lt;ngx-check-box ng-true-value="'YES'" ng-false-value="'NO'" ng-model="user.children"&gt;Children &lt;/ngx-check-box&gt;
          &lt;/form&gt;
         user.name =  &lt;span ng-bind="user.name"&gt; &lt;/span&gt; 
         user.working =  &lt;span ng-bind="user.working"&gt; &lt;/span&gt; 
         user.birthDate =  &lt;span ng-bind="user.birthDate"&gt; &lt;/span&gt; 
         user.bestFriend =  &lt;span ng-bind="user.bestFriend"&gt; &lt;/span&gt; 
         user.married =  &lt;span ng-bind="user.married"&gt; &lt;/span&gt; 
         user.color =  &lt;span ng-bind="user.color"&gt; &lt;/span&gt; 
         user.car =  &lt;span ng-bind="user.car"&gt; &lt;/span&gt; 
         user.children =  &lt;span ng-bind="user.children"&gt; &lt;/span&gt; 
     &lt;/div&gt;
 &lt;/body&gt;
 &lt;/html&gt;
</code></pre>
When the model is changed, the plug-in raises an event with the following name: 'widget name' + 'ModelChange' i.e for ngxDropDownList, the event name is 'ngxDropDownListModelChange'.
</body>
</html>