{% macro render_field(field) %}
<td style="float:right;padding:10px">
  {{ field.label }}
    </td>
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<td style="float:left">

    <font color="black"> {{ field(**kwargs)|safe }}</font>
        </td>

{% endmacro %}