{% extends "base.html" %} 

{% block content %}

<head>
    <link rel="stylesheet" 
          href="/static/bower_components/switchablegrid/switchablegrid.css" />
    <!-- Slick carousel -->
    <link rel="stylesheet" 
          type="text/css"
          href="/static/bower_components/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" 
          type="text/css" 
          href="/static/bower_components/slick-carousel/slick/slick-theme.css" />
    <script type="text/javascript" 
            src="/static/bower_components/slick-carousel/slick/slick.js"></script>

    <!-- 3D transitions -->
    <link rel="stylesheet" 
          type="text/css" 
          href="/static/bower_components/PageTransitions/css/multilevelmenu.css" />
    <link rel="stylesheet"
          type="text/css" 
          href="/static/bower_components/PageTransitions/css/component.css" />
    <link rel="stylesheet" 
          type="text/css" 
          href="/static/bower_components/PageTransitions/css/animations.css" />
    <script src="/static/bower_components/PageTransitions/js/modernizr.custom.js"></script>
    <script src="/static/bower_components/PageTransitions/js/jquery.dlmenu.js"></script>
    <script src="/static/bower_components/PageTransitions/js/pagetransitions.js"></script>
</head>

<style>
    body {
        background-color: #e1e1e1;
        color: #444;
    }
    
    .clearbutton {
        border-width: 0;
        background-color: transparent;
        color: black;
    }
    
    .clearbutton:active,
    .clearbutton:hover {
        border-width: 0;
        background-color: #eeeeee;
    }
    
    .ghost-button-full-color {
        color: black;
        width: 160px;
        height: 160px;
        margin: 20px;
        padding: 20px;
        line-height: 20px;
        text-align: center;
    }
    
    .ghost-button-full-color:active,
    .ghost-button-full-color:hover {
        background-color: #eeeeee;
        border-color: black;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: color 0.6s ease-in, background-color .6s ease-in, border-color 0.6s ease-in;
    }
    
    .labelbutton {
        position: relative;
        min-height: 100px;
        height: 100%;
        width: 100%;
    }
    
    .labelbutton-content {
        color: #660066;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
    }
    
    .bar {
        background-color: transparent;
        background-image: -webkit-linear-gradient(top, transparent, transparent);
        background-image: -moz-linear-gradient(top, transparent, transparent);
        background-image: linear-gradient(top, transparent, transparent);
        box-shadow: 0 0px 0px #ccc;
        border-radius: 0px;
        width: 580px;
        padding: 10px;
        line-height: 0;
    }
    
    .bar a {
        background: transparent center center no-repeat;
        font-color: black;
    }
    
    .bar a.active {
        background-color: rgba(50, 50, 50, .2);
        font-color: black;
    }
    
    .leftcolumn {
        width: 200px;
        height: auto;
        margin-left: 10px;
        float: left;
    }
</style>

<div class="btn-group" style=" position:absolute; top:5px; left:5px">
    <button class="btn btn-sm" style="height:30px; padding-top:8px; background-color:transparent">
        <span data-match-route="/config*" bs-dropdown="dropdown" data-container="self">
                <i class="icomoon icon-library" style="font-size:12px;"></i>
            </span>
    </button>
    <button class="btn btn-sm" style="height:30px; background-color:transparent" onclick="location.href=&quot{{url_for('get_arkentries')}}&quot">
        <span class="glyphicon glyphicon-home"></span>
    </button>

    {% for parent in parents %}
    <button type="button" class="btn btn-sm" style="background-color:transparent" onclick="location.href=&quot{{url_for('get_arksubentries',
                                            level=(parent.level+1),
                                            id=parent.id)}}&quot">
        {{ parent.name }}
    </button>
    {% endfor %}
</div>

<div id="main" ng-app="myApp" ng-controller="Main">
    <div class="bar" style="width:100%;height:20px">

        <a class="list-icon" ng-class="{'active':mode==1}" ng-click="mode=1"></a>
        <a class="grid-icon" ng-class="{'active':mode==2}" ng-click="mode=2"></a>
        <a class="grid-icon" ng-class="{'active':mode==3}" ng-click="mode=3"></a>
    </div>
    <br>
    <div>
        <div ng-show="mode==2||mode==3" class="row">
            <div ng-repeat="e in entries" style="width:100%">

                <!---- Mode 1 ----->
                <div ng-show="mode==2 && e.slick != true" style="padding:25px">
                    <div class="ghost-button-full-color" ng-class="{'col-xs-4':mode==1, 
                               'col-xs-3':mode==2, 
                               'col-xs-6':mode==3}" style="padding:5px;margin:10px">
                        <div class="labelbutton" style="top:0px;">

                            <div style="width:100%; 
                                    margin:0 auto; 
                                    height:100%;" ng-click="thumbnailclick(e)">
                                <thumbnail maxheight=80% 
                                           width=85% 
                                           elementsrc="e.thumbnail"
                                           defaultsrc='/static/images/defaultthumbnail.png'>
                                </thumbnail>
                            </div>
                            <span class="labelbutton-content" 
                                  style="text-align:center" 
                                  ng-click="entrynameclick(e)"> 
                            [[ e.longname || e.name ]]</span>
                        </div>
                    </div>
                    <div ng-class="{'col-xs-8':mode==1, 
                               'col-xs-6':mode==3}" style="padding-top:20px">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    [[ e.description ]]
                                    <br>
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <button class="clearbutton" ng-click="editentryclick(e)">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
                                <button class="clearbutton" ng-click="launchfinder2(e.id)">
                                    <i class="icomoon icon-finder"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!---- Mode 2 ----->
                <div ng-show="mode==3 && e.slick != true">
                    <div class="ghost-button-full-color" ng-class="{'col-xs-8':mode==2, 
                               'col-xs-1':mode==3}" style="padding:5px;margin:10px">
                        <div class="labelbutton" style="top:0px;">

                            <div style="width:100%; 
                                    margin:0 auto; 
                                    height:100%;" ng-click="thumbnailclick(e)">
                                <thumbnail maxheight=80% 
                                           width=85% 
                                           elementsrc="e.thumbnail"
                                           defaultsrc='/static/images/defaultthumbnail.png'>
                                </thumbnail>
                            </div>
                            <span class="labelbutton-content" style="text-align:center" ng-click="entrynameclick(e)"> 
                            [[ e.longname || e.name ]]</span>
                        </div>
                    </div>
                </div>
                <div ng-repeat-end="" ng-class="{'clearfix':mode==1}"></div>

            </div>
            <!--/row-->
        </div>
        <div ng-show="mode==1" class="leftcolumn" id="entriesgroup">
            <div id="pt-main" class="pt-perspective" style="height:93%">
                <div class="pt-page pt-page-1">
                    <slickselect id="slickselectentries"
                                 classname="slider"
                                 data='entries' 
                                 maxelements=10 
                                 currentelement='currentelement' 
                                 vertical="true" 
                                 showlabel="true" 
                                 imgwidth=30
                                 onenter="slickonenter"
                                 onkeypress="slickonkeypress"                          
                                 onbuttonclick="buttonclick()"
                                 centerModeOffset=5>
                    </slickselect>
                </div>
            </div>
        </div>
        <div ng-show="mode==1" class="rightcolumn">
            <div ng-repeat="app in currentelement.prefs.applications"></div>
            [[app.name]]hi
            <div ng-repeat-end=""></div>
        </div>
</div>

<!--/container-->
<script src="/static/bower_components/angular-vs-repeat/src/angular-vs-repeat.min.js"></script>
<script type="text/javascript" src="/static/js/angular-slickselect2.js"></script>
<script src="/static/js/angular-thumbnail.js"></script>
<script src="/static/bower_components/PageTransitions/js/jquery.dlmenu.js"></script>
<script src="/static/bower_components/PageTransitions/js/pagetransitions.js"></script>

<script>
    var myApp = angular.module('myApp', ['vs-repeat', 'ngAnimate',
                                     'ngSanitize',
                                     'mgcrea.ngStrap.helpers.dimensions',
                                     'mgcrea.ngStrap.tooltip',
                                     'mgcrea.ngStrap.dropdown',
                                     'slickselect',
                                     'thumbnail',
                                     ]);

    myApp.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol("[[");
        $interpolateProvider.endSymbol("]]");

    });

    myApp.config(function ($dropdownProvider) {
        angular.extend($dropdownProvider.defaults, {
            animation: 'am-flip-x',
            trigger: "hover",
            html: true,
            delay: {
                hide: 500
            }


        });
    })
    'use strict';
    
    myApp.service('dataService', function($http) {
        this.getsubentries = function(id) {
            return $http({
                method: 'GET',
                url: "{{url_for('api_get_subentries',id=1)}}".replace(1,id),
            }).success(function(data){
                return data
            }).error(function(){
                alert("error");
                return null ;
            });
        }
        this.getparententries = function(id) {
            return $http({
                method: 'GET',
                url: "{{url_for('api_get_parententries',id=1)}}".replace(1,id),
            }).success(function(data){
                return data
            }).error(function(){
                alert("error");
                return null ;
            });
        }
    });
    
    angular.module('myApp').controller('Main', function ($scope,dataService) {
        $scope.entries = {{ entries | tojson }};
        $scope.currentlement = $scope.entries[0]
        $scope.libraries = {{ entries | default ([]) | tojson }}
    
        $('#loader').hide();
        $('#entrieslist').show();

        // default view is list
        $scope.mode = 1;

        $scope.entrynameclick = function (entry) {
            console.log(entry)
            url = "{{url_for('get_arksubentries',id=888,level=999)}}"

            url = url.replace(888, entry.id)
            url = url.replace(999, entry.level + 1)

            location.href = url
        }
        $scope.thumbnailclick = function (entry) {
            console.log(entry)
            url = "{{url_for('get_arkentry',id=888)}}"

            url = url.replace(888, entry.id)

            location.href = url
        }

        $scope.launchfinder2 = function (id) {
            console.log("launchfinder");

            var req = new XMLHttpRequest();
            req.open('POST', 'http://127.0.0.1:5001/api/launchapplication/' + id + "/3/0");
            req.send();
            req.sedropnd();
            return false;
        }

        $scope.editentryclick = function (e) {
            console.log("editentry");

            url = "{{url_for('get_arkentryprefs',id=888)}}".replace(888, e.id)
            location.href = url
        }

        var n = $scope.libraries.length
        $scope.dropdown = [];
        for (i = 0; i < n; i++) {
            console.log($scope.libraries[i].name)
            $scope.dropdown.push({
                text: $scope.libraries[i].name + " " + $scope.libraries[i].path,
                click: "menuclick(\"" + $scope.libraries[i].name + "\")",

            })
        }
        $scope.menuclick = function (l) {
            console.log(l)
            alert("hi");
        }
        $scope.safeApply = function(fn) {
          var phase = this.$root.$$phase;
          if(phase == '$apply' || phase == '$digest') {
            if(fn && (typeof(fn) === 'function')) {
              fn();
            }
          } else {
            this.$apply(fn);
          }
        };
    
        $scope.slickonenter = function(event) {
            dataService.getsubentries($scope.currentelement.id).then(function(response) {
                $scope.entries = response.data.data;
            });
            var currentSlide = $('.slider').slick('slickCurrentSlide');
            console.log(currentSlide)
//            $scope.currentelement.focus();
        }

        $scope.slickonkeypress = function(e) {
            if (e.keyCode == '37') {
                if (!$scope.currentelement.parent)
                    return -1;
                dataService.getparententries($scope.currentelement.parent).then(function(response) {
                    var parentid = $scope.currentelement.parent
                    if (response.data.data.length > 0) {
                        $scope.entries = response.data.data;

                            }
                });
                return -1
            }
            else if (e.keyCode == '39') { 
                
                dataService.getsubentries($scope.currentelement.id).then(function(response) {
                    if (response.data.data.length > 0)
                        $scope.entries = response.data.data;
                });
                return -1
            }
            else 
                return 0
        }
    
        $scope.buttonclick = function() {
            console.log("buttonclick")
        };
    });

    $(document).ready(function () {
        var name = $('#main').scope().$apply();
        $(document).keydown(function(e){
            if (e.keyCode==37 || 
                e.keyCode == 38 || 
                e.keyCode == 39 || 
                e.keyCode ==40 ||
                e.keyCode == 13) {
        e = e || window.event;
        e.preventDefault();
        e.stopPropagation();
                $(".slider").scope().keydownhandler(e)
            }
        });

        
    });
</script>

{% endblock %}