<script type="text/javascript" src="/static/js/angular-thumbnail.js"></script>
<script src="/static/js/filedrop2.js"></script>

<style>
    .leftcolumn {
        width: 200px;
        height: 300px;
        margin-left: 10px;
        float: left;
    }
    
    .rightcolumn {
        width: auto;
        height: 300px;
        margin-left: 220px;
    }
    .fieldbutton {
        display: inline-block;
        border-radius: 3px;
        border: none;
        font-size: 0.9rem;
        padding: 0.4rem 0.8em;
        color: #555555;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin: 0 0 1em;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        height: 30px;
        background-color: #d9d9d9
    }
    
    .fieldbutton:hover,
    .fieldbutton:focus {
        opacity: 0.75;
        cursor: pointer;
        border-bottom: 0px solid black;
    }

</style>

<meta id="arkentryid" content="{{arkentry.id}}">

<div ng-app="app" ng-controller="appctrl">
    <div style="width:100%;height:30px"></div>
        
    <div class="leftcolumn">
        <thumbnail
               defaultsrc="{{preferences.poster or inherited['poster'] or '/static/images/defaultposter.png'}}" 
                elementid="{{preferences['id']}}"
                posturl="{{url_for('update_prefs_poster',id=999)}}">
        </thumbnail>
    </div>
    <div class="rightcolumn" >
        <table style="padding:5px">
            <tr>
                <td>
                <font size=5 face="helvetica-bold"> 
                    <a href="{{url_for('get_arksubentries',
                             level=(arkentry.level+1),id=arkentry.id)}}">
                        {{ preferences.longname or arkentry.name }}
                    </a>
                </font>
                </td>
                <td>
                <thumbnail style="float:right" 
                           width=30px 
                           height=30px 
                           elementid="{{preferences['id']}}"
                           defaultsrc="{{preferences.thumbnail or arkentry.thumbnail or inherited['thumbnail'] or  '/static/images/defaultthumbnail.png'}}" 
                           posturl="{{url_for('update_prefs_thumbnail',id=999)}}">
                </thumbnail>   
                </td>       
            </tr>
            <tr>
                <td>
                    <button class="fieldbutton" 
                            editable-text="preferences.welcomemessage" 
                            buttons="no"
                            onaftersave = "onupdatefield($data,'welcomemessage')"
                            style="background-color:transparent">
                        <i>{{preferences["welcomemessage"] or ''}}</i>
                    </button>
                </td>
                <td>
                    <i style="float:right; font-size:12">
                        Last worked on: {{arkentry.lastworkedon.strftime("%h %d, %Y %H:%M%p")}}
                    </i>
                </td>
            </tr>
        </table>
        <button class="fieldbutton" 
                editable-text="preferences.shortname"
                buttons="no"
                onaftersave = "onupdatefield($data,'name')"
                style="background-color:transparent">

        {{arkentry.prefs.shortname or arkentry.name}}
        </button>

        <select name="status">
        {% for status in arkentry._statuses %} 
        {%if status == preferences[key] %}
        <option value={{status}} selected> {{status}}</option>
        {% else %}
        <option value={{status}}> {{status}}</option>
        {% endif %} 
        {% endfor %}
        </select>
        <br>
        <div>
        <button class="fieldbutton" 
           style="width:100%;height:100px; float:left"
           editable-text="preferences.description" 
           buttons="no"
           placeholder="Description..."
           onaftersave = "onupdatefield($data,'description')">
            {{preferences["description"] or ''}}
        </button>
        </div>
        <table>
            <tr>
                <td>
                    <div class="fieldlabel" 
                         style="color:grey;
                                font-size:12px;
                                float:right;
                                padding-right:20px">
                       Tags
                    </div>
                </td>
                <td>
                    {% for tag in preferences["tags"] %}
                    <button>{{tag}}</button>
                    {% endfor %}
                </td>
            </tr>
        </table>     
        <div class="fieldlabel" 
             style="color:grey;
                    font-size:12px;
                    padding-right:20px">
            Applications
        </div>

        <div>
        {% for app in preferences["applications"] %}
            <img src = "{{app.thumbnail or app.application.thumbnail}}" width=50>
        {% endfor %}
        </div>
    </div>
</div>
<div style="width:100%;height:20px"></div>
<div style="padding:20px">
    <table>
        {% for key in preferences.columns %} 
        <tr>
            {%if key not in ("arkentry","arkentryid","id", "applications", "poster","thumbnail","description","name","longname","welcomemessage", "tags",
            "shortname","status") %}
            <td>
                <div class="fieldlabel" 
                     style="color:grey;
                            font-size:12px;
                            float:right;
                            padding-right:20px">
                    {{key}} 
                </div>
            </td>
            <td>
                {% if key != "poster" %} 
                {% if not preferences[key] and inherited.has_key(key) %}
                <button class="fieldbutton" 
                        buttons="no">
                    {{preferences[key] or ''}}
                </button>
                {% else %}
                <button class="fieldbutton" 
                        editable-text="{{preferences[key]}}" 
                        buttons="no"
                        onaftersave = "onupdatefield($data,'{{key}}')">
                    {{preferences[key] or ''}}
                </button>
                {% endif %}
                {% endif %}
            </td>
            {% endif %} 
        </tr>        
        {% endfor %}
    </table>
</div>

<script>
    var app = angular.module('app', ["xeditable", 'thumbnail']);

    app.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol("[[");
        $interpolateProvider.endSymbol("]]");

    });

    app.controller('appctrl', function ($scope) {
        $scope.preferences = {{preferences|tojson}}
        $scope.arkentry = {{arkentry|tojson}}
        $scope.inherited = {{inherited|tojson}}
        $scope.onupdatefield = function(data,field) {
            var fd = new FormData();    
            fd.append("_updatedata","{\""+field+"\":\"" + data +"\"}")
            fd.append("id","{{arkentry.id}}")
            $.ajax({
                type: "POST",
                url: "{{url_for('update_prefs')}}",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                },
                error: function () {
                    alert("failure");
                }
            });
        }
    });
</script>
