{% extends 'base.html' %}

{% block content %}
    
<link rel="stylesheet" type="text/css" 
      href="/static/bower_components/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css"
      href="/static/bower_components/slick-carousel/slick/slick-theme.css"/>    
<link rel="stylesheet" type="text/css" href="/static/css/slickselect.css"/>    

<!-- 3D transitions -->
<link rel="stylesheet" 
      type="text/css" 
      href="/static/bower_components/PageTransitions/css/multilevelmenu.css" />
<link rel="stylesheet"
      type="text/css" 
      href="/static/bower_components/PageTransitions/css/component.css" />
<link rel="stylesheet" 
      type="text/css" 
      href="/static/bower_components/PageTransitions/css/animations.css" />
<script src="/static/bower_components/PageTransitions/js/modernizr.custom.js"></script>
<script src="/static/bower_components/PageTransitions/js/jquery.dlmenu.js"></script>
<script src="/static/bower_components/PageTransitions/js/pagetransitions.js"></script>

<style>
    /* Prevent the text contents of draggable elements from being selectable. */
    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }
    .column {
        height: 500px;
        width: 100%;
        float: left;
        border: 1px solid #666666;
        background-color: #ccc;
        margin-right: 0px;
        -webkit-border-radius: 0px;
        -ms-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 0px #000;
        -ms-box-shadow: inset 0 0 0px #000;
        box-shadow: inset 0 0 0px #000;
        text-align: center;
        cursor: move;
    }
    .column header {
        color: #fff;
        text-shadow: #000 0 0px;
        box-shadow: 0px;
        padding: 5px;
        background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
        background: -webkit-gradient(linear, left top, right top,
            color-stop(0, rgb(0,0,0)),
            color-stop(0.50, rgb(79,79,79)),
            color-stop(1, rgb(21,21,21)));
        background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
        background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
        border-bottom: 0px solid #ddd;
        -webkit-border-top-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -ms-border-radius-topleft: 0px;
        border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -ms-border-top-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        border-top-right-radius: 0px;
        background:red;
        display:block;
    }

    .column.over {
        border: 2px dashed #000;
    }
    .column header:hover {
        background:blue;

    }

    #leftcolumn {
        width: 645px;
        height: auto;
        margin-left: 25px;
        float: left;
    }

    #rightcolumn {
        width: 260px;
        height: auto;
        margin-left: 670px;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .btn-ghost {
        background: transparent;
        color: #F2F2F2;
        border: 0px solid #009688;
        font-size: 17px;
        padding: 7px 12px;
        font-weight: normal;
        margin: 6px 0;
        margin-right: 12px;
        display: inline-block;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        min-width: 120px;

        /* CSS Transition */
        -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
        -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
        -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
        -o-transition: background .2s ease-in-out, border .2s ease-in-out;
        transition: background .2s ease-in-out, border .2s ease-in-out;
    }

    .columnheader {
        display:none
    }
    .columnheader:hover {
        display:block
    }

    .slider {
        width: auto;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        outline: none;
        height: 110px;
    }

    .slider div {
        margin-right: 0px;
        margin-left: 0px;
        outline: none;
        width: auto;
        height: 110px
    }
    .slider h3 {
        -moz-transform: scale(0.55);
        -ms-transform: scale(0.55);
        -o-transform: scale(0.55);
        -webkit-transform: scale(0.55);
        opacity: 0.4;
        transform: scale(0.5);
        transition: all 300ms ease;
        background: transparent;
        height:110px;
        margin-right:0px;
    }
</style>

<div class="btn-group" style="position:absolute; 
                              top:5px; 
                              left:5px">
    <button class="btn btn-sm" 
            style="height:30px; 
                   padding-top:8px; 
                   background-color:transparent">
        <span data-match-route="/config*" 
              bs-dropdown="dropdown" 
              data-container="self">
            <i class="icomoon icon-library" 
               style="font-size:12px;"></i>
        </span> 
    </button>
    <button class="btn btn-sm" 
            style="height:30px; 
                   background-color:transparent" 
            onclick="location.href=&quot{{url_for('get_arkentries')}}&quot">
        <span class="glyphicon glyphicon-home"></span>
    </button>

    {% for parent in parents %}
    <button type="button" 
            class="btn btn-sm"
            style = "background-color:transparent"
            onclick="location.href=&quot{{url_for('get_arksubentries',
                                        level=(parent.level+1),
                                        id=parent.id)}}&quot">
        {{ parent.name }}
    </button>
    {% endfor %}
</div>

<div style="height:40px;width:100%"></div>

<div id="columns"  ng-app="app" ng-controller="appctrl" >
    <div id="leftcolumn">
        <div class="column" draggable="true">
            <header><button id="cubebutton" >settings</button></header>
                <div id="pt-main" class="pt-perspective" style="height:93%">
                    <div class="pt-page pt-page-1">

                        {% if preferences.poster %}
                        <img src = "{{preferences.poster}}" width=300 id="poster">
                        {% elif inherited.has_key("poster") and inherited["poster"] %}
                        <img src = "{{inherited['poster']}}" width=300 id="poster">
                        {% elif preferences.thumbnail %}
                        <img src = "{{preferences.thumbnail}}" width=300 id="poster">
                        {% elif arkentry.thumbnail %}
                        <img src = "{{arkentry.thumbnail}}" width=300 id="poster">
                        {% elif inherited.has_key("thumbnail") and inherited["thumbnail"] %}
                        <img src = "{{inherited['thumbnail']}}" width=300 id="poster">
                        {% else %}
                        <img src = "/static/images/defaultposter.png" width=300 id="poster">
                        {% endif %}
                    </div>
                    <div class="pt-page pt-page-2">
                        {% include 'arkentryprefs.html' %}
                    </div>
                </div>
        </div>
    </div>
    
    <div id="rightcolumn">
        <div class="column" draggable="true"></div>
    </div>
    
    <div class="column" draggable="true" 
         style="height:120px;
                width:900px; 
                margin-left:25px">    
        <slickselect id = "slickapps"
                     elements='applications'
                     maxelements=9
                     currentelement="currentelement"
                     addbutton = "true"
                     vertical = "false"
                     showlabel="false"
                     imgwidth=90
                     onenter='apponenter()'
                     onbuttonclick=''>
        </slickselect>
    </div>
    
</div>

<!-- Modal content-->
<div class="ui modal" id="myModal" style="height:200px;width:650px">
    <div class="content">
        <form name="myform">
            {% for app in allapps %}
            <a href="{{url_for('arkentry_updateapps',id=arkentry.id,appid=app.id)}}">
                <img src = "{{app.thumbnail}}" height=55px width=55px>
            </a>
            {% endfor %}
        </form>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div id="submit" class="ui approve button">Save</div>    
    </div>
</div>

<!-- javascript content-->
<script src="/static/js/angular-thumbnail.js"></script>
<script type="text/javascript" src = "/static/js/dragndrop.js"></script>
<script src="/static/bower_components/PageTransitions/js/jquery.dlmenu.js"></script>
<script src="/static/bower_components/PageTransitions/js/pagetransitions.js"></script>
<script src="/static/js/angular-slickselect.js"></script>
<script type="text/javascript" 
        src="/static/bower_components/slick-carousel/slick/slick.js"></script>

<script>
    var app = angular.module('app', ["slickselect","thumbnail"]);

    app.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol("[[");
        $interpolateProvider.endSymbol("]]");
    });

    app.controller('appctrl', function ($scope) {
        $scope.applications = {{applications | tojson}};
        $scope.currentpage = 1
        $scope.apponenter = function () {
            console.log("here")
            var current = $("#slickapps").scope().currentelement
            console.log(current)
            var id = {{arkentry.id}}
            console.log(id)
            var appid = current["id"]
            console.log(appid)
            console.log(current["name"])
            if (current["name"]==="Add") {
                $("#myModal").modal("show")
                return
            }
            else    
                launchapp(id,appid)
        }
        $("#cubebutton").on("click", function () {
            if ($scope.currentpage == 1) {
                $scope.currentpage = 2;
                PageTransitions.nextPage({
                    animation: 58
                })
            } 
            else {
                $scope.currentpage = 1;
                PageTransitions.nextPage({
                    animation: 59
                })
            }
        });        
    });
    
    $(document).ready(function () {
        $("input#submit").click(function(){
            console.log("here");
            var input1 = $('#appname').val();
            var input2 = $('#apppath').val();
            var pass = 'name='+input1+'&path='+input2;

              $.ajax({
                  type: "POST",
                  url: "{{url_for('arkentry_updateapps',id=arkentry.id,appid=1)}}",
                  data: pass,
                  success: function(msg){
                      $('#result').html(msg);
                      $("#myModal").modal('hide');	
                  },
                  error: function(){
                      alert("failure");
                  }
              });
        });    
    });    
    
    function launchapp(id,appid) {
        console.log("here");
        var req = new XMLHttpRequest();    
        req.open('POST', "{{url_for('launchapp',id=111,appid=222)}}".replace("111",id).replace("222",appid));
    //    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        req.send();
        return false;
    }
</script>
{% endblock %}
