{% extends 'base.html' %}

{% block content %}
<section class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
				    <th>id</th>
                    <th>name</th>
                    <th>path</th>
                </tr>
            </thead>
            <tbody>
                {% for volume in volumes %}
                <tr>
                    <td data-toggle="collapse" data-target="#volume{{volume.id }}" class="accordion-toggle icon-chevron-up">
                        <span class="glyphicon glyphicon-plus" style="padding:6px;"></span>
                    </td>
                    <td>{{ volume.id }}</td>
                    <td>{{ volume.name }}</td>
                    <td>{{ volume.root }}</td>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}



      