<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/component.css" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/ghostbutton.css" rel="stylesheet">
    <link href="/static/bower_components/font-awesome-4.4.0/css/font-awesome.css" rel="stylesheet">
    <link href="/static/bower_components/angular-motion/dist/angular-motion.min.css" rel="stylesheet">
    <link href="/static/bower_components/ionicons/css/ionicons.min.css" rel="stylesheet">

    <!-- jquery/bootstrap -->

    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-filestyle.min.js">
    </script>
    <script src="/static/js/classie.js"></script>
    
    <!-- angular -->
    <script src="/static/bower_components/angular/angular.min.js"></script>
    <script src="/static/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/static/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/static/bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="/static/bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
      <script src="/static/js/ui-bootstrap-tpls-0.13.4.min.js"></script>

    <!-- border menuse -->
    <link rel="stylesheet" type="text/css"
          href="/static/bower_components/AnimatedBorderMenus/css/normalize.css" />
    <link rel="stylesheet" type="text/css"
          href="/static/bower_components/AnimatedBorderMenus/css/demo.css" />
    <link rel="stylesheet" type="text/css"
          href="/static/bower_components/AnimatedBorderMenus/css/icons.css" />
    <link rel="stylesheet" type="text/css"
          href="/static/bower_components/AnimatedBorderMenus/css/style4.css" />
  
    <!-- semantic -->
    <link rel="stylesheet" 
          type="text/css" 
          href="/static/bower_components/semantic/dist/semantic.min.css">
    <script src="/static/bower_components/semantic/dist/semantic.min.js"></script>

    <!-- xeditable -->
    <link href="/static/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <script src="/static/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
</head>

<style>
body {
  background-color: #e1e1e1;
  color:#444;
}  
    .fa-2x {
        font-size: 2em;
    }
    
    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    }
    
    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }
    
    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }
    
    a:hover,
    a:focus {
        a:hover,
        a:focus {
            text-decoration: none;
        }
        .area {
            float: left;
            background: #e2e2e2;
            width: 100%;
            height: 100%;
        }
        @font-face {
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 300;
            src: local('Titillium WebLight'), local('TitilliumWeb-Light'), 
        }
        body {
            position: relative;
            padding: 0 0 0 50px;
        }
        #content {
            width: 100%;
            height: 100%;
            margin-left: 130px;
        }
        .clearFix {
            clear: both;
        }
        .leftcolumn {
            width: 350px;
            height: auto;
            margin-left: 25px;
            float: left;
        }
        .rightcolumn {
            width: 400px;
            height: 300px;
            margin-left: 400px;
        }
        img {
            max-width: 300px;
            max-height: 300px;
            height: auto;
        }        
    #labelbutton {
        position: relative;
        min-height: 100px;
        height: 100%;
        width: 100%;
        background-color:red
    }
    
    #labelbutton-content {
        color: #660066;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        background-color:red

    }
</style>
    
    
<nav id="bt-menu" class="bt-menu" style="z-index: 1; opacity:0.9">
    <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
    <ul>
        <li><a href="{{url_for('get_arkentries')}}" 
               class="ionicons ion-ios-home">Home</a></li>
        <li><a href= "{{url_for('libraries')}}" 
               class="ionicons ion-ios-book">Libraries</a></li>
        <li><a href="{{url_for('systemprefs')}}"
               class="ionicons ion-settings">Preferences</a></li>
        {% if arkentry %}
        <li><a href="{{url_for('get_arkentryenv',id=arkentry.id)}}" 
               class="ionicons ion-ios-partlysunny">Environment</a></li>
        {% endif %}
        <li><a href="{{url_for('users')}}" 
               class="ionicons ion-ios-people">Users</a></li>

    </ul>
    <ul>
        <li><a href="{{ url_for ('test')}}" 
               class="ionicons ion-erlenmeyer-flask" 
               style="padding:10px;padding-top:15px">Test</a></li>
        <li><a href="{{ url_for ('security.logout')}}" 
               class="ionicons ion-log-out" 
               style="padding:10px; padding-top:15px">Logout</a></li>
    </ul>
</nav>
<body>
{% block content %} 
{% endblock %}
</body>
<script src="/static/bower_components/AnimatedBorderMenus/js/borderMenu.js"></script>

</html>