{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="/static/js/angular-thumbnail.js"></script>

<style>
    .fieldbutton {
        display: inline-block;
        border-radius: 3px;
        border: none;
        font-size: 0.9rem;
        padding: 0.4rem 0.8em;
        color: #555555;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin: 0 0 1em;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        height: 30px;
        background-color: #d9d9d9
    }
    
    .fieldbutton:hover,
    .fieldbutton:focus {
        opacity: 0.75;
        cursor: pointer;
        border-bottom: 0px solid black;
    }
</style>
<html lang="en" ng-app="myApp">
<div ng-controller="appctrl">
    <h1>
    <span>[[arkentry.name]] </span>
</h1>
<h2> Envrionment Stack</h2>
                        <span id="environment"
                              editable-textarea="arkentry.prefs.environment" 
                              e-rows="7" e-cols="40"
                              onaftersave = "onupdatefield($data,'environment')"
                              buttons="yes">[[arkentry.prefs.environment || 'empty']] </span>   

<h2> Clipboard Stack</h2>
    <button id="getclipboardbutton">Get Clipboard</button>
    <button id="setclipboardbutton">Set Clipboard</button>
    
<h2> Recent Files</h2>
<h2> Recent Applications</h2>
<h2> Filedrop </h2>
    </div>
</html>
<script>
    var app = angular.module('myApp', ["xeditable", 'thumbnail']);

    app.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol("[[");
        $interpolateProvider.endSymbol("]]");

    });

    app.controller('appctrl', function ($scope) {
        $scope.arkentry = {{arkentry|tojson}}
        $scope.onupdatefield = function(data,field) {
            console.log(data)
            var fd = new FormData();    
            fd.append("_updatedata","{\""+field+"\":\"" + data +"\"}")
            fd.append("id","{{arkentry.id}}")
            $.ajax({
                type: "POST",
                url: "{{url_for('update_prefs')}}",
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    console.log("updated")
                },
                error: function () {
                    alert("failure");
                }
            });
        }
    });
    $(document).ready(function () {
        $("#getclipboardbutton").on("click", function () {
            console.log("get clipboard")
            var fd = new FormData();    
            fd.append("id","{{arkentry.id}}")
            $.ajax({
                type: "POST",
                url: "{{url_for('api_entry_getclipboard',id=1)}}".replace(1,"{{arkentry.id}}"),
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    console.log("got clipboard data")
                },
                error: function () {
                    alert("failure");
                }
            });

        });
        $("#setclipboardbutton").on("click", function () {
            console.log("set clipboard")
            var fd = new FormData();    
            fd.append("id","{{arkentry.id}}")
            $.ajax({
                type: "POST",
                url: "{{url_for('api_entry_setclipboard',id=1)}}".replace(1,"{{arkentry.id}}"),
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    console.log("set clipboard data done")
                },
                error: function () {
                    alert("failure");
                }
            });

        });
        
    });
    
    
</script>
{% endblock %}