<!DOCTYPE html>
{% macro render_field(field) %}
<td>
<span style="float:right">  {{ field.label|safe|replace("Address","") }}
</span>
    </td>
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
<td>
    <span style="float:left;color:black;padding-left:10px"> {{ field(**kwargs)|safe }} </span>
</td>
{% endmacro %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Noah</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="/static/bower_components/parallax/css/normalize.css">
    <link rel="stylesheet" href="/static/bower_components/parallax/css/main.css">
    <script src="/static/bower_components/parallax/js/vendor/modernizr-2.7.1.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-filestyle.min.js"> </script>

    
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ghostbutton.css" rel="stylesheet">
</head>

<style>
    body {
        font-family: 'Open Sans', sans-serif;
    }
    #slide-1 .bcg {background-image:url('/static/images/coverimage.jpg')}
    #slide-2 .bcg {background-image:url('/static/images/tigerandpig.jpg')}
    #slide-3 .bcg {background-image:url('/static/images/tigerdeer.jpg')}
    #slide-4 .bcg {background-image:url('/static/images/ChihuahuaAndTheChicken_24.jpg')}
    .myhsContent {
	   position: absolute;
	   top: -20px;
       width:100%;
       height:500px;
		line-height: 100px;

    }
    .myhsContent h2  {
        color: #fff8de;
		background-color: rgba(0,0,0,0.5);
		padding: 10px 20px;
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 12px;
	}

#password,
#email {
    height:40px;
    line-height:30px;
    padding:5px;
    padding-top:10px;
    padding-bottom:10px
    font-size:15px;
    width:300px;
}
    
/* Slide 2 */
#slide-2 .hsContent {
	margin-left: -200px;
	top: auto;
}
#slide-2 h2 {
	position: fixed;
	top: 30%;
}

#slide-3 .hsContent {
	margin-left: -50px;
}
    
.ghost-button-semi-transparent {

  background-color: rgba(255, 255, 255, 0.0);
  transition: background-color 0.5s ease-out,
              border-color 0.5s ease-out;
}
.ghost-button-semi-transparent:hover,
.ghost-button-semi-transparent:active {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 1);
  transition: background-color 0.5s ease-in,
              border-color 0.5s ease-in;
}
    
</style>
<body class="loading">
       	<main> 
            <div class="myhsContent" style="" data-center="bottom: 500px; opacity: 1" data-top="bottom: -200px; opacity: 0" data-anchor-target="#slide-1 h2">
                <h2><a href="{{url_for('index')}}">
                        <div style="float:right;height:100%">
                            <img src="/static/images/noahlogo.png" width=150px>
                        </div>
                    </a>
                    <div style="height:60px"></div>
                </h2>
            </div>
	        <section id="slide-1" class="homeSlide">
	        	<div class="bcg" 
	        		data-center="background-position: 50% 0px;" 
	        		data-top-bottom="background-position: 50% -100px;" 
	        		data-anchor-target="#slide-1">
                    
		        	<div class="hsContainer" >

			    		<div class="myhsContent" style="left:0px;width:500px;top:300px" data-center="bottom: 1200px; opacity: 1" data-top="bottom: 200px; opacity: 0" data-anchor-target="#slide-1 h2">
                            <h2 style="font-size:20px">
                                <table style="width:400px">

                                        <button style="font-size:18px" class="ghost-button-semi-transparent" onclick="onregister() ">Register</button>
                                </h2>   
			    		</div>
		        	</div>
	        	</div>
		    </section>
		    
			<section id="slide-2" class="homeSlide">
				<div class="bcg" 
					data-center="background-position: 50% 10px;" 
					data-top-bottom="background-position: 50% -100px;" 
					data-bottom-top="background-position: 50% 100px;" 
					data-anchor-target="#slide-2"
				>
			    	<div class="hsContainer">

			    		<div class="hsContent" 
			    			data-center="opacity: 1" 
			    			data-center-top="opacity: 0" 
			    			data--100-bottom="opacity: 0;" 
			    			data-anchor-target="#slide-2"
			    		>

			    		</div>
			    	</div>
				</div>
			</section>
		    
			<section id="slide-3" class="homeSlide">
				<div class="bcg" 
					data-center="background-position: 50% 0px;" 
					data-top-bottom="background-position: 50% -100px;" 
					data-bottom-top="background-position: 50% 100px;" 
					data-anchor-target="#slide-3"
				>
			    	<div class="hsContainer">
						<div class="hsContent" 
							data--50-bottom="opacity: 0;" 
							data--400-bottom="opacity: 1;" 
							data-center="opacity: 1" 
							data-0-top="opacity: 0" 
							data-anchor-target="#slide-3 h2"
						>
				    		<h2>Project Management</h2>
			    		</div>
			    	</div>
			    	
			    </div>
			</section>
			
			<section id="slide-4" class="homeSlide">
				<div class="bcg" 
					data-center="background-position: 50% 0px;" 
					data-top-bottom="background-position: 50% -100px;" 
					data-bottom-top="background-position: 50% 100px;" 
					data-anchor-target="#slide-4"
				>
			    	<div class="hsContainer">
						<div class="hsContent" 
							data-bottom-top="opacity: 0" 
							data-25p-top="opacity: 0" 
							data-top="opacity: 1"  
							data-anchor-target="#slide-4">
				    		<h2>Welcome!</h2>
			    		</div>
			    	</div>
			    	
			    </div>
			</section>
		    
		</main>

        <script>window.jQuery || document.write('<script src="/static/bower_components/parallax/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/bower_components/parallax/js/imagesloaded.js"></script>
        <script src="/static/bower_components/parallax/js/skrollr.js"></script>
        <script src="/static/bower_components/parallax/js/_main.js"></script>

    </body>



<script>
function onlogin() {
    console.log("login")
}
    
function onregister() {
    location.href = "{{ url_for('register') }}";
}


</script>
</html>
