{% extends "base.html" %} 

{% block content %}

<head>
    <!-- 3D transitions -->
    <link rel="stylesheet" 
          type="text/css" 
          href="/static/bower_components/PageTransitions/css/default.css" />
    <link rel="stylesheet" 
          type="text/css" 
          href="/static/bower_components/PageTransitions/css/multilevelmenu.css" />
    <link rel="stylesheet"
          type="text/css" 
          href="/static/bower_components/PageTransitions/css/component.css" />
    <link rel="stylesheet" 
          type="text/css" 
          href="/static/bower_components/PageTransitions/css/animations.css" />
    <script src="/static/bower_components/PageTransitions/js/modernizr.custom.js"></script>
    <script src="/static/bower_components/PageTransitions/js/jquery.dlmenu.js"></script>
    <script src="/static/bower_components/PageTransitions/js/pagetransitions.js"></script>

    <!-- filebrowser carousel -->    
    <link rel="stylesheet" h
          ref="/static/ngwidgets-ver1/ngwidgets/styles/ngx.base.css" 
          type="text/css" />
    
    <script type="text/javascript" src="/static/ngwidgets-ver1/ngwidgets/ngxcore.js"></script>
    <script type="text/javascript" src="/static/ngwidgets-ver1/ngwidgets/ngxbuttons.js"></script>
    <script type="text/javascript" src="/static/ngwidgets-ver1/ngwidgets/ngxdata.js"></script>
    <script type="text/javascript" src="/static/ngwidgets-ver1/ngwidgets/ngxscrollbar.js"></script>
    <script type="text/javascript" src="/static/ngwidgets-ver1/ngwidgets/ngxlistbox.js"></script>
    <script type="text/javascript" src="/static/js/angular-thumbnail.js"></script>
    <script type="text/javascript" src="/static/js/angular-filebrowser.js"></script>

    <!-- Slick carousel -->
    <link rel="stylesheet" type="text/css" 
          href="/static/bower_components/slick-carousel/slick/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="/static/bower_components/slick-carousel/slick/slick-theme.css"/>    
    <script type="text/javascript" 
            src="/static/bower_components/slick-carousel/slick/slick.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/slickselect.css"/>    
</head>

<style>
    .leftcolumn {
        width: 200px;
        height: auto;
        margin-left: 10px;
        float: left;
    }
    
    .rightcolumn {
        width: 600px;
        height: 600px;
        margin-left: 220px;
        background-color: #eeeeee;
    }
    
    .fieldbutton {
        display: inline-block;
        border-radius: 3px;
        border: none;
        font-size: 0.9rem;
        padding: 0.4rem 0.8em;
        color: #555555;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin: 0 0 1em;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        height: 30px
    }
    
    .fieldbutton:hover,
    .fieldbutton:focus {
        opacity: 0.75;
        cursor: pointer;
        border-bottom: 1px solid black;
    }
    
    .pt-page-1 {
        background-color: #eeeeee
    }
    
    input {
        width: 400px;
        height: 30px;
        border: 0px;
        outline-style: hidden;
        outline-width: thin;
        outline-color: invert;
        border-color: black
    }
</style>

    <div ng-app="app" ng-controller="libraryctrl" 
         style="padding:0px; 
                background-color: #e1e1e1; 
                width=100%;height:100%">
        <h4> Libraries </h4>
        <div class="leftcolumn" style="background-color:#eeeeee">
            <slickselect elements='libraries'
                         maxelements=10
                         currentelement="currentelement"
                         addbutton = "true"
                         vertical = "true"
                         showlabel="true"
                         imgwidth=30>
            </slickselect>
        </div> <!--leftcolumn-->

        <div class="rightcolumn">
            <div ng-show="currentelement.name=='Add'">
                <div id="pt-main" class="pt-perspective">
                    <div class="pt-page pt-page-1">
                        <div id="filedropholder">
                            <div style="padding:10px">
                                <thumbnail id="addthumbnail" 
                                           width=175px 
                                           height=175px 
                                           defaultsrc="/static/images/Library.png">
                                </thumbnail>
                                <div style="height:180px"></div>
                                <div class="fieldlabel" 
                                     style="color:grey;font-size:12px">Name </div>
                                <button id="addlibraryname" 
                                        class="fieldbutton" 
                                        editable-text="addlibraryname" 
                                        buttons="no">
                                    [[addlibraryname]]
                                </button>
                                <br>
                                <div class="fieldlabel" 
                                     style="color:grey;font-size:12px">Path </div>
                                <button id="addlibrarypath" 
                                        class="fieldbutton" 
                                        editable-text="addlibrarypath" 
                                        buttons="no">
                                    [[addlibrarypath]]
                                </button>
                                <div class="fieldlabel" 
                                     style="color:grey;font-size:12px">Delimiter </div>
                                <button class="fieldbutton" 
                                        editable-text="addlibrarydelimiter" 
                                        buttons="no">
                                    Delimiter
                                </button>
                                <button class="btn btn-default btn-sm" id="addbutton">Add</button>
                            </div>
                        </div>
                    </div> <!--pt-page1-->

                    <div class="pt-page pt-page-2">
                        <div style="height:540px">
                            <filebrowser path="/Users" files="['admin', 'Guest', 'Shared']" selectcb="selectfiler(path)">
                            </filebrowser>
                        </div>

                    </div><!--pt-page2-->
                </div> <!--pt-main-->
                <button id="cubebutton" ng-model="browsebuttontext">[[browsebuttontext]]</button>
            </div> <!--ng-show-->
            
            <div ng-show="currentelement.name!='Add'">
                <div style="padding:10px">
                    <thumbnail id="addthumbnail" 
                               width=175px 
                               height=175px 
                               elementsrc="currentelement.thumbnail"
                               elementid = "currentelement.id"
                               defaultsrc="/static/images/Library.png">
                    </thumbnail>

                    <div style="height:180px"></div>
                    <div class="fieldlabel" style="color:grey;font-size:12px">Name </div>
                    <button class="fieldbutton" editable-text="currentelement.name" buttons="no">
                        [[ currentelement.name || "empty"]]
                    </button>
                    <br>
                    <div class="fieldlabel" style="color:grey;font-size:12px">Path </div>
                    <button class="fieldbutton" editable-text="currentelement.path" buttons="no">
                        [[ currentelement.path || "empty"]]
                    </button>
                    <div class="fieldlabel" style="color:grey;font-size:12px">Volumes </div>
                    <button class="fieldbutton">
                        [[ getvolumes(currentelement) ]]
                    </button>
                    <button class="btn btn-default btn-sm" id="updatebutton">update</button>

                </div>
            </div>
        </div> <!--rightcolumn-->
    </div> <!--ng-app-->

    <script src="/static/bower_components/PageTransitions/js/jquery.dlmenu.js"></script>
    <script src="/static/bower_components/PageTransitions/js/pagetransitions.js"></script>
    <script type="text/javascript" 
            src="/static/bower_components/angular-slick/dist/slick.js"></script>
    <script src="/static/js/angular-slickselect.js"></script>
    <script type="text/javascript">
        function basename(path) {
            return path.split('/').reverse()[0];
        }

        var myApp = angular.module('app', ["xeditable", 
                                           "filebrowser", 
                                           "thumbnail",
                                           "slickselect"]);

        myApp.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol("[[");
            $interpolateProvider.endSymbol("]]");
        });

        myApp.controller('libraryctrl', function ($scope) {
            $scope.browsebuttontext = "Browse..."
            $scope.addlibraryname = ""
            $scope.addlibrarypath = ""

            $scope.libraries = {{ libraries | tojson }};
            console.log($scope.libraries)
            $scope.getvolumes = function(library) {
                var s = ""
                if (library && library.arkvolumes) {
                    for (i=0;i<library.arkvolumes.length;i++) {
                        s = s+" " +library.arkvolumes[i].name
                    }
                }
                return s
            }        
            $("#cubebutton").on("click", function () {
                if ($scope.browsebuttontext == "Browse...") {
                    $scope.browsebuttontext = "<"
                    $scope.$apply();
                    PageTransitions.nextPage({
                        animation: 58
                    })
                } else {
                    $scope.browsebuttontext = "Browse..."
                    $scope.$apply();
                    PageTransitions.nextPage({
                        animation: 59
                    })

                }

            });

            $scope.selectfiler = function (path) {
                $scope.browsebuttontext = "Browse..."
                PageTransitions.nextPage({
                    animation: 59
                })

                console.log("selectfile", path)
                $scope.addlibraryname = basename(path)
                $scope.addlibrarypath = path

                //   $scope.$apply();

            }

        });

        $(document).ready(function () {
            $("#addbutton").click(function () {
                var name = $('#addlibraryname').scope().addlibraryname;
                var path = $('#addlibrarypath').scope().addlibrarypath;
                var thumbnail = document.getElementById("addthumbnail").lastChild.children[0]
                console.log(thumbnail.src)
                if ((!name) || (!path)) {
                    {
                        alert("Must define a name and path");
                    }
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{url_for('addlibrary')}}",
                        data: "{\"name\":\"" + name + "\",\"path\":\"" + path + "\",\"thumbnail\":\"" + thumbnail.src + "\"}",
                        contentType: "application/json; charset=utf-8",

                        dataType: "json",
                        success: function (msg) {
                            alert("Success!  Library added")
                        },
                        error: function (data) {
                            alert("failure:" + data);
                        }
                    });
                }
            });
            
            $("#updatebutton").click(function () {
                console.log("update")
                var name = $('#addlibraryname').scope().currentelement.name;
                var path = $('#addlibrarypath').scope().currentelement.path;
                var thumbnail = document.getElementById("addthumbnail").lastChild.children[0]
                console.log(thumbnail.src)
                if ((!name) || (!path)) {
                    {
                        alert("Must define a name and path");
                    }
                } else {
                    $.ajax({
                        type: "POST",
                        url: "{{url_for('updatelibrary')}}",
                        data: "{\"name\":\"" + name + "\",\"path\":\"" + path + "\",\"thumbnail\":\"" + thumbnail.src + "\"}",
                        contentType: "application/json; charset=utf-8",

                        dataType: "json",
                        success: function (msg) {
                            alert("Library Update Processing...")
                        },
                        error: function (data) {
                            alert("failure:" + data.responseText);
                        }
                    });
                }
            });
            
            
        });


        function filedropcb(file) {
            name = file.name
            console.log(name)
        }
    </script>

    <script src="/static/js/filedrop3.js"></script>

{% endblock %}