{% from '_macros.html' import render_field, render_field_with_errors %}

{% macro social_login(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <button type="submit" class="btn btn-primary btn-large">Login with {{ display_name }}</button>
  </form>
{% endmacro %}

{% extends "base.html" %}

{% block content %}
<section class="container">

<div style="height:50px">
</div>
<div class="row content">
  <div class="span4 offset1">
    <form class="well" action="{{ url_for('mysecuritylogin') }}" method="POST">
        {% if (form) %}
        {% set login_user_form = form %}
        {% endif %}
        {{ login_user_form.hidden_tag() }}

        <table>
                {{ render_field(login_user_form.email) }}
            </tr>
            <tr>
                {{ render_field(login_user_form.password) }}
            </tr>
            <tr>
                {{ render_field(login_user_form.remember) }} 
            </tr>
        </table>
      <button type="submit" 
              style="width:60%; 
                     color:black; 
                     border:1px solid #444444;
                     height:75px" 
              class="btn btn-primary ghost-button-full-color">
          <img src="/static/images/register.png " style="padding:10px;width:80px" >Login</button>
  <button style="width:30%; 
                 color:black; 
                 border:1px solid #444444;
                 height:75px" 
          class="btn btn-primary ghost-button-full-color" 
          onclick="event.stopPropagation(); event.preventDefault(); onregister()">
      <img src="/static/images/register.png " 
           style="padding:10px;width:80px" > Register</button>
    </form>

    </div>
  <div class="span2 col2">
    <h3>OR</h3>
  </div>
  <div class="span4 col3">
    {{ social_login('google', 'Google' )}}
    {{ social_login('facebook', 'Facebook' )}}
    <!-- {{ social_login('github', 'GitHub' )}} -->
  </div>
</div>

<script>
function onregister() {
    console.log("onregister")
    location.href = "{{ url_for('register') }}"; 
    
}
</script>
{% endblock %}


