
{% macro show_provider_button(provider_id, display_name, conn, show_update_form=True) %}
  <div class="span6">
    <h2>{{ display_name }}</h2>
      <div style="padding-left:50px">
    {% if conn %}
      {% if show_update_form %}
        <form action="{{ url_for('social_post', provider_id=provider_id) }}" 
              method="POST" 
              class="post-update">
          <fieldset>
            <div class="control-group">
                <textarea class="input-xlarge" 
                        name="message" 
                        rows="3">
                  Hello from Flask-Social-Example!
                </textarea>
            </div>
            <button type="submit" 
                    class="btn btn-primary btn-large">
                <i class="icon-share icon-white"></i> Post Update</button>
          </fieldset>
        </form>
      {% endif %}
      <form action="{{ url_for('social.remove_connection', provider_id=conn.provider_id, provider_user_id=conn.provider_user_id) }}?__METHOD_OVERRIDE__=DELETE" 
            method="POST" 
            class="remove-connection">
        <button type="submit" 
                class="btn btn-danger">
            <i class="icon-trash icon-white"></i> 
            Remove {{ display_name }} Connection</button>
      </form>
    {% else %}
      <form action="{{ url_for('social.connect', provider_id=provider_id) }}" 
            method="POST" 
            class="create-connection">
        <fieldset>
          <div class="control-group">
            <button type="submit" 
                    class="btn btn-success btn-large">
                <i class="icon-share icon-white"></i> 
                Connect with {{ display_name }}</button>
          </div>
        </fieldset>
      </form>
    {% endif %}
          </div>
  </div>
{% endmacro %}

{% macro render_field (label, field, variable,editable) %}
    <tr>
        <td ><span class="fieldlabel">{{label}}</span></td>
        {% if editable %}
        {% if label == "Administrator:" %}
        <td ><span id="profileedit_{{variable}}"
                   class="fielddata"
                   editable-checkbox="{{variable}}"
                   onaftersave = "onfieldchange($data,'{{field}}','{{variable}}',{{current_user.id}})"
                   buttons="no">{{field}}</span></td>

        {% elif label == "Password:" %}
        <td><button onclick="changepassword()">Change Password</button></td>
        
        {% else %}
        <td ><span id="profileedit_{{variable}}"
                   class="fielddata"
                   editable-text="{{variable}}"
                   onaftersave = "onfieldchange($data,'{{field}}','{{variable}}',{{current_user.id}})"
                   buttons="no">{{field|default("empty")}}</span></td>

        {% endif %}
        {% else %}
        <td ><span class="fielddata">{{field|default("empty")}}</span></td>

        {% endif %}
    </tr>
{% endmacro %}

<style>
.fieldlabel {
    float:right;
    color:grey;
    font-size:60%;
    padding:5px;
}
.fielddata {
    float:left;
    font-color:black;
    font-weight:bold;
    padding:5px
}

</style>
<div style="padding:0px; overflow:scroll" ng-controller="profilectrl">
    <span i style="float:left">
        <thumbnail width=175px 
                   height=175px 
                   defaultsrc="{{ current_user.thumbnail if current_user.thumbnail != None else '/static/images/defaultuser.png' }}"
                   posturl = "{{url_for('update_user_thumbnail',id=current_user.id)}}">
         </thumbnail>
        </span> 

    <table style="padding-left:10px">
        {{ render_field("First Name:", current_user.firstname or "", "firstname",1) }}
        {{ render_field("Last Name:", current_user.lastname or "","lastname",1) }}   
        {{ render_field("Email:", current_user.email,"email",1) }}
        {{ render_field("Username:", current_user.username,"username",1) }}
        {{ render_field("Administrator:", current_user.administrator,"administrator",1) }}
        {{ render_field("Last Login:", current_user.last_login_at,"lastlogin",0) }}
        {{ render_field("Password:", current_user.password,"password",1) }}
    </table>
</div>
<div style="height:20px"></div>
<div class="row">
  {{ show_provider_button('google', 'Google', google_conn) }}
  {{ show_provider_button('facebook', 'Facebook', facebook_conn) }}
</div>

<!-- Modal content-->
    <div class="ui modal" id="passwordModal" style="height:250px;width:550px">
        <div class="content">
            <div class="row" >
            <div style="padding:0px;margin:20px">
                <form method="post" id="passwordForm">
                    <input type="password" 
                           class="input-lg form-control" 
                           name="password" 
                           id="password" 
                           placeholder="New Password" 
                           autocomplete="off"
                           style="margin:5px">
                    <input type="password" 
                           class="input-lg form-control" 
                           name="password2" 
                           id="password2"
                           placeholder="Repeat Password"
                           autocomplete="off"
                           style="margin:5px">
                </form>
            </div><!--/col-sm-6-->
            </div><!--/row-->
        </div>    
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <button id="changepasswordbutton"
                type="submit" 
                class="ui btn btn-primary" 
                data-loading-text="Changing Password...">
            Change Password
        </button>
    </div>
</div>

<script type="text/javascript" src="/static/js/angular-thumbnail.js"></script>
<link href="/static/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
<script src="/static/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
<script>
    $(document).ready(function() {
        var ucase = new RegExp("[A-Z]+");
        var lcase = new RegExp("[a-z]+");
        var num = new RegExp("[0-9]+");

        $("input[type=password]").keyup(function(){
            if($("#password").val().length >=7){
                $("#8char").removeClass("glyphicon-remove");
                $("#8char").addClass("glyphicon-ok");
                $("#8char").css("color","#00A41E");
	       }
            else {
                $("#8char").removeClass("glyphicon-ok");
                $("#8char").addClass("glyphicon-remove");
                $("#8char").css("color","#FF0004");
	       }
            if(num.test($("#password").val())){
                $("#num").removeClass("glyphicon-remove");
                $("#num").addClass("glyphicon-ok");
                $("#num").css("color","#00A41E");
            }else{
                $("#num").removeClass("glyphicon-ok");
                $("#num").addClass("glyphicon-remove");
                $("#num").css("color","#FF0004");
            }

            if($("#password").val() == $("#password2").val()){
                $("#pwmatch").removeClass("glyphicon-remove");
                $("#pwmatch").addClass("glyphicon-ok");
                $("#pwmatch").css("color","#00A41E");
            }else{
                $("#pwmatch").removeClass("glyphicon-ok");
                $("#pwmatch").addClass("glyphicon-remove");
                $("#pwmatch").css("color","#FF0004");
            }
        });
        
    $("#changepasswordbutton").click (function() {
        console.log("here")
        console.log($("#password").val())
        console.log($("#password2").val())
        if ($("#password").val() != $("#password2").val()){
            console.log("Values don't match")
            alert("Values don't match")        
        }
        else if (num.test($("#password").val())){
            console.log("num test")

            alert("num test")        
        }
        else if ($("#password").val().length >= 7){
              console.log("Password must be 7 caharacters")
          
            alert("Password must be 7 caharacters")        
        }
        else {            
            console.log($("#passwordForm").serialize())
            console.log("serialize")
            $.ajax({
                type: "POST",
                url: "{{url_for('update_password',id=current_user.id)}}",
                data: $("#passwordForm").serialize(),

                processData:false,
                success: function (msg) {
                    alert("Library Update Processing...")
                },
                error: function (data) {
                    alert("failure:" + data.responseText);
                }
            });
            $("#passwordModal").modal("hide")
        }
        console.log("done")
    });
    });

    function changepassword() {
        $("#passwordModal").modal("show")
        
    }
</script>

