{% from '_macros.html' import render_field %}

{% extends 'base.html' %}

{% macro social_register(provider_id, display_name) %}
  <form action="{{ url_for('social.login', provider_id=provider_id) }}" method="POST">
    <button type="submit" class="btn btn-primary btn-large">Register with {{ display_name }}</button>
  </form>
{% endmacro %}

{% block content %}
<div style="height:50px">
</div>
<section class="container">

{% if login_failed %}
<h3>Register with your {{ provider.name }} account: {{ connection_values['display_name'] }}</h3>
{% endif %}
    
  <div class="span4 offset1" >
    <form class="well" action="{{ url_for('register', provider_id=provider.id if provider else None) }}" method="POST">
      {{ form.hidden_tag() }}
        <table>
            <tr>
              {{ render_field(form.email) }}<br>
            </tr>
            <tr>
                {{ render_field(form.password) }}<br>
            </tr>
            <tr>
                {{ render_field(form.password_confirm) }}<br>
            </tr>            
        </table>
      <button type="submit" style="width:100%; color:black; border:1px solid #444444" class="btn btn-primary ghost-button-full-color"><img src="/static/images/register.png " style="padding:10px;width:80px" >Register</button>
    </form>
  </div>
  {% if not login_failed %}
    <div >
  <div class="span2 col2" >
    <h1>OR</h1>
  </div>
        <button onclick="AuthenticateTrello()">trello</button>
  <div class="span4 col3">
      
    {{ social_register('twitter', 'Twitter' )}} 
      {{ social_register('facebook', 'Facebook' )}} 
      {{ social_register('google', 'Google' )}}
      {{ social_register('trello', 'Trello' )}}

  </div>
  {% endif %}
</div>
</section>

<script src="https://api.trello.com/1/client.js?key=33de6a6d1e962c73f1fea56c47d98481" type="text/javascript"></script>

<script>
// include whatever version of jquery you want to use first
// call this whenever you want to make sure Trello is authenticated, and get a key. 
// I don't call it until the user needs to push something to Trello,
// but you could call it in document.ready if that made more sense in your case.
function AuthenticateTrello() {
    console.log("here")
        Trello.authorize({
            name: "your project name",
            type: "popup",
            interactive: true,
            expiration: "never",
            success: function () { onAuthorizeSuccessful(); },
            error: function () { onFailedAuthorization(); },
            scope: { write: true, read: true },
        });
 }

function onAuthorizeSuccessful() {
    var token = Trello.token();
    // whatever you want to do with your token. 
    // if you can do everything client-side, there are other wrapper functions
    // so you never need to use the token directly if you don't want to.
}

function onFailedAuthorization() {
    // whatever
}

$(document).ready(function () {
    
});
    
</script>
{% endblock %}
