<style>
    .slider {
        width: auto;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        outline: none;
        height: 550px;
    }
    
    .slider div {
        margin-right: 0px;
        margin-left: 3px;
        outline: none;
        width: 95%;
        height: 50px
    }
    
    .slider .slick-center h3 {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        color: black;
        opacity: 1;
        transform: scale(1);
        border: 1px solid black;
        margin-right: 0px;
    }
    
    .slider h3 {
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
        -webkit-transform: scale(0.85);
        opacity: 0.4;
        transform: scale(0.8);
        transition: all 300ms ease;
        background: grey;
        font-size: 12px
    }
    
    .leftcolumn {
        width: 200px;
        height: auto;
        margin-left: 10px;
        float: left;
    }
    
    .rightcolumn {
        width: 600px;
        height: 600px;
        margin-left: 220px;
        background-color: #eeeeee;
    }
    
    #filedropholder {
        border: 1px dashed #ccc;
        width: 100%;
        height: 100%;
        margin: auto auto;
    }
    
    #filedropholder.hover {
        border: 1px dashed #000000;
    }
    
    #filedropholder img {
        display: block;
        margin: 10px auto;
    }
    
    #filedropholder p {
        margin: 10px;
        font-size: 14px;
    }
    
    .fieldbutton {
        display: inline-block;
        border-radius: 3px;
        border: none;
        font-size: 0.9rem;
        padding: 0.4rem 0.8em;
        color: #555555;
        -webkit-font-smoothing: antialiased;
        font-weight: bold;
        margin: 0 0 1em;
        width: 100%;
        text-align: left;
        border-radius: 3px;
        height: 30px
    }
    
    .fieldbutton:hover,
    .fieldbutton:focus {
        opacity: 0.75;
        cursor: pointer;
        border-bottom: 1px solid black;
    }
    
    .pt-page-1 {
        background-color: #aaaaaa
    }
    
    input {
        width: 400px;
        height: 30px;
        border: 0px;
        outline-style: hidden;
        outline-width: thin;
        outline-color: invert;
        border-color: black
    }
</style>
<div ng-controller="applicationscontroller">
    <div class="leftcolumn" style="background-color:#eeeeee">
        <slickselect id="slickselectentries"
                     classname="slider"
                     data='apps' 
                     maxelements=10 
                     currentelement='currentelement' 
                     vertical="true" 
                     searchbutton = "false"
                     showlabel="true" 
                     imgwidth=30>
        </slickselect>
    </div>

    <div class="rightcolumn">
        <div style="padding:10px">
            <thumbnail width=175px 
                       height=175px 
                       elementid="currentelement.id"
                       elementsrc="currentelement.thumbnail"
                       defaultsrc="/static/images/defaultthumbnail.png"                       
                       posturl="{{url_for('update_application_thumbnail',id=999)}}">
            </thumbnail>

            <div class="fieldlabel" style="color:grey;font-size:12px">Name </div>
            <button class="fieldbutton" editable-text="currentelement.name" buttons="no">
                [[ currentelement.name || "empty"]]
            </button>
            <br>
            <div class="fieldlabel" style="color:grey;font-size:12px">Path </div>
            <button class="fieldbutton" editable-text="currentelement.path" buttons="no">
                [[ currentelement.path || "empty"]]
            </button>
            <div class="fieldlabel" style="color:grey;font-size:12px">Volumes </div>
            <button class="fieldbutton">
                [[ getvolumes(currentelement) ]]
            </button>
        </div>

        <button ng-show="currentelement.name=='Add'" 
                type="button" 
                class="ghost-button-border-color" 
                style="width:100%"
                onclick="$('#addappModal').modal('show')">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <!--- Modal Content -->
    <div class="ui modal" id="addappModal" style="height:370px;width:650px">
        <div class="header">
            <button type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-hidden="true">&times;</button>
        </div>
        <div class="content">
            <h4>Add an Application:</h4>
            <thumbnail style="float:left"
                       width=150px 
                       height=150px 
                       defaultsrc="/static/images/defaultthumbnail.png">
            </thumbnail>
            
            <table style="width:55%;">
                <tr>
                    <td class="expanding">
                        <input id="addappname" 
                               type="text" 
                               style="width:80%;height:30px;margin:5px" placeholder="Name...">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="addapppath"
                               type="text"
                               style="width:80%;height:30px;margin:5px"
                               placeholder="Path To Executable...">
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="actions">
            <div class="ui cancel button">Cancel</div>
            <div id="addappsave" class="ui approve button">Save</div>
        </div>
    </div>
</div>

<script src="/static/js/angular-slickselect2.js"></script>
<script>
    angular.module('myApp').controller('applicationscontroller', function ($scope) {
        // setup applications
        $scope.apps = {{ applications | tojson }};
        var arrayLength = $scope.apps.length;
        for (var i = 0; i < arrayLength; i++) {
            if ($scope.apps[i].thumbnail == "undefined") {
                $scope.apps[i].thumbnail = "/static/images/application-default-icon.png"

            } else {
                var sub = $scope.apps[i].thumbnail.substring(0, 5)
                if (sub != "data:")
                    $scope.apps[i].thumbnail = "data:image/jpeg;base64," + $scope.apps[i].thumbnail
            }
        }
    
    });
    
    $("#addappsave").click(function () {
        console.log("here")
        var name = $('#addappname').val();
        var path = $('#addapppath').val();
        var thumbnail = document.getElementById("thumbnail").src;
        $.ajax({
            type: "POST",
            url: "{{url_for('add_application')}}",
            data: "{\"name\":\"" + name + "\",\"path\":\"" + path + "\",\"thumbnail\":\"" + thumbnail + "\"}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#addappModal').modal("hide");

                var scope = angular.element(document.getElementById("applications")).scope();
                scope.addapplication(msg)
            },
            error: function () {
                alert("failure");
            }
        });
    });
</script>