{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" 
          href="/static/bower_components/slick-carousel/slick/slick.css"/>
<link rel="stylesheet" type="text/css"
          href="/static/bower_components/slick-carousel/slick/slick-theme.css"/>    
<script type="text/javascript" 
            src="/static/bower_components/slick-carousel/slick/slick.js"></script>
<script type="text/javascript" src="/static/js/angular-thumbnail.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/slickselect.css"/>    


<style>
    .slider {
        width: auto;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        outline: none;
        height: 550px;
    }
    
    .slider div {
        margin-right: 0px;
        margin-left: 3px;
        outline: none;
        width: 95%;
        height: 50px
    }
    
    .slider .slick-center h3 {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        color: black;
        opacity: 1;
        transform: scale(1);
        border: 1px solid black;
        margin-right: 0px;
    }
    
    .slider h3 {
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
        -webkit-transform: scale(0.85);
        opacity: 0.4;
        transform: scale(0.8);
        transition: all 300ms ease;
        background: grey;
        font-size: 12px
    }
    
    .hidden {
        display: none !important;
    }
    
    #thumbnailholder {
        border: 1px dashed #ccc;
        width: 75px;
        height: 75px;
        margin: 5px
    }
    
    #thumbnailholder.hover {
        border: 1px dashed #000000;
    }
    
    #thumbnailholder img {
        margin: 0px auto;
    }
    
    .thumbnailarrayholder {
        border: 1px dashed #ccc;
        width: 75px;
        height: 75px;
        margin: 5px
    }
    
    .thumbnailarrayholder.hover {
        border: 1px dashed #000000;
    }
    
    .thumbnailarrayholder img {
        margin: 0px auto;
        width: 75px;
        height: 75px;
        margin: 5px
    }
    .editable-wrap {
    display: block;
}

.editable-controls input {
  width: auto;
  height: auto;

}  
</style>

<script>
    angular.module('myApp', ['ngAnimate', 
                             'ui.bootstrap', 
                             'xeditable',
                             'thumbnail',
                             'slickselect'])

    .config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol("[[");
        $interpolateProvider.endSymbol("]]");
    })
</script>

<html lang="en" ng-app="myApp">
<div ng-controller="TabsDemoCtrl">
    <h3> Preferences</h3>
    <tabset>
        <tab heading="Main">
            <div id="angularmain" ng-controller="AccordionDemoCtrl">
                <script type="text/ng-template" id="group-template.html">
                    <div class="panel [[ panelClass ]]">
                        <div class="panel-heading">
                            <h4 class="panel-title" style="color:#fa39c3">
                    <a href tabindex="0" 
                       class="accordion-toggle" 
                       ng-click="toggleOpen()" 
                       accordion-transclude="heading"><span
                    ng-class="{'text-muted': isDisabled}">[[ heading ]]</span></a>
                    </h4>
                        </div>
                        <div class="panel-collapse collapse" collapse="!isOpen">
                            <div class="panel-body" style="text-align: right" ng-transclude></div>
                        </div>
                    </div>
                </script>

                <accordion close-others="oneAtATime">
                    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        This content is straight in the template.
                    </accordion-group>
                    <accordion-group heading="[[ group.title ]]" ng-repeat="group in groups">
                        [[ group.content ]]
                    </accordion-group>
                    <accordion-group heading="Dynamic Body Content">
                        <p>The body of the accordion group grows to fit the contents</p>
                        <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                        <div id="items" ng-repeat="item in items">[[ item ]]</div>
                        <div id="applications2" ng-repeat="app in apps">[[ app.name ]]</div>

                    </accordion-group>
                    <accordion-group is-open="status.open">
                        <accordion-heading>
                            I can have markup, too!
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 
                                         'glyphicon-chevron-right': !status.open}">
                            </i>
                        </accordion-heading>
                        This is just some content to illustrate fancy headings.
                    </accordion-group>
                    <accordion-group heading="Custom template" template-url="group-template.html">
                        Hello
                    </accordion-group>
                    <accordion-group heading="Delete account" panel-class="panel-danger">
                        <p>Please, to delete your account, click the button below</p>
                        <button class="btn btn-danger">Delete</button>
                    </accordion-group>
                </accordion>
            </div>
        </tab>
        <tab heading="Applications">
            {% include "systemprefsapplications.html" %}
        </tab>
        <tab heading="System">
            <div ng-controller="AccordionDemoCtrl">
                <accordion close-others="oneAtATime">
                    <accordion-group heading="Hosts" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                        <div id="hosts" ng-repeat="host in hosts">
                            <button class="ghost-button-border-color" 
                                    value="[[host.hostname]]" 
                                    ng-click="sethostselection(host)">
                                <img style="padding:0px; object-fit:contain" 
                                     width="auto" 
                                     height="80%" 
                                     ng-src="[[host.thumbnail=='undefined' || !host.thumbnail ? '/static/images/defaulthost.png' : host.thumbnail]]"> [[host.name]]

                            </button>
                        </div>
                        <div style="width:100%;height:130px"></div>
                        <thumbnail id="selectedhostthumbnail" 
                                   width=150px 
                                   height=150px 
                                   elementsrc="selectedhostthumbnail"
                                   elementid="selectedhostid"
                                   defaultsrc='/static/images/defaulthost.png'
                                   posturl="{{url_for('update_arkhost_thumbnail',id=999)}}"
                                   onpost = "onupdatehostthumbnail(data)">
                        </thumbnail>
                        <div>
                            <br> Name: <span id="selectedhostname" 
                                             editable-text="selectedhostname" 
                                             onaftersave = "onhostchange($data,'name')"
                                             buttons="no">[[selectedhostname]]</span>
                            <br> Hostname: <span id="selectedhosthostname"
                                                 editable-text="selectedhosthostname" 
                                                 onaftersave = "onhostchange($data,'hostname')"
                                                 buttons="no">[[selectedhosthostname]]</span>
                            <br> Description: <span id="selectedhostdescription"
                                                    editable-text="selectedhostdescription" 
                                                    onaftersave = "onhostchange($data,'description')"
                                             buttons="no">[[selectedhostdescription]]</span>
                            <br>
                        </div>
                        <div style="width:100%;height:75px"></div>

                        <button type="button" 
                                class="ghost-button-border-color" 
                                style="width:35%;height:50px"
                                onclick="$('#addhostModal').modal('show')">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" 
                                class="ghost-button-border-color" 
                                style="width:35%;height:50px"
                                onclick="$('#deletehostModal').modal('show')">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>

                    </accordion-group>
                    <accordion-group heading="Volumes">
                        <div id="volumes" ng-repeat="volume in volumes">
                            <button class="ghost-button-border-color" 
                                    value="[[volume.name]]" 
                                    ng-click="onselectvolume(volume)">
                                <img style="padding:0px; 
                                            object-fit:contain" 
                                     width="auto%" 
                                     height="80%" 
                                     ng-src="[[volume.thumbnail && volume.thumbnail != 'undefined' ? volume.thumbnail : '/static/images/disk.png']]"> [[volume.name]]
                            </button>
                        </div>
                        <div style="width:100%;height:130px"></div>
                           <thumbnail id="selectedvolumethumbnail" 
                                      width=150px 
                                      height=150px 
                                      elementsrc="selectedvolumethumbnail"
                                      elementid="selectedvolumeid"
                                      defaultsrc='/static/images/disk.png'
                                      posturl="{{url_for('update_arkvolume_thumbnail',id=999)}}">
                            </thumbnail>
                        <div>
                            <br> Name: <span id="selectedvolumename"
                                             editable-text="selectedvolumename"
                                             onaftersave="onvolumechange($data,'name')"
                                             buttons="no">[[selectedvolumename||'empty']]</span>
                            <br> ArkRoot: <span id="selectedvolumeroot"
                                                editable-text="selectedvolumearkroot"
                                                onaftersave="onvolumechange($data,'arkroot')"
                                                buttons="no">[[selectedvolumearkroot||'empty']]</span>
                            <br> Mountpoint: <span editable-text="selectedvolumemountpoint"                                              
                                                   id="selectedvolumemountpoint"
                                                   onaftersave="onvolumechange($data,'mountpoint')" 
                                                   buttons="no">[[selectedvolumemountpoint||'empty']]</span>
                            <br> Host: <span id="selectedvolumehost"
                                             editable-text="selectedvolumehost"
                                            onaftersave="onvolumechange($data,'host')" 
                                             buttons="no">[[selectedvolumehost||'empty']]</span>
                            <br> Storage Type: <span id="selectedvolumetype"
                                                     editable-select="selectedvolumetype"
                                                     e-ng-options="s.value as s.text for s in storagetypes"
                                                     onaftersave="onvolumechange($data,'storagetype')" 
                                                     buttons="no">[[selectedvolumetype||'empty']]</span>
                            <br>
                        </div>
                        <div style="width:100%;height:50px"></div>
                        <button type="button" 
                                class="ghost-button-border-color" 
                                style="width:35%;height:50px"
                                onclick="$('#addvolumeModal').modal('show')">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button type="button" 
                                class="ghost-button-border-color" 
                                style="width:35%;height:50px"
                                onclick="$('#deletevolumeModal').modal('show')">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <br>
                    </accordion-group>
                </accordion>

                <!-- Modal content-->
                <div class="ui modal" id="deletehostModal" style="height:165px;width:300px">
                    <div class="header">
                        <button type="button" class="close cancel">&times;</button>
                    </div>
                    <div class="content">
                        Delete Host [[selectedhostname]]?
                    </div>
                    <div class="actions">
                        <div class="ui cancel button">Cancel</div>
                        <div id="deletehostbutton" 
                             class="ui approve button" 
                             ng-click=deletehost()>Delete</div>
                    </div>
                </div>
                <div class="ui modal" id="deletevolumeModal" style="height:165px;width:300px">
                    <div class="header">
                        <button type="button" class="close cancel">&times;</button>
                    </div>
                    <div class="content">
                        Delete Volume [[selectedvolumename]] [[selectedvolumeid]]?
                    </div>
                    <div class="actions">
                        <div class="ui cancel button">Cancel</div>
                        <div id="deletevolumebutton" 
                             class="ui approve button"
                             ng-click=deletevolume()>Delete</div>
                    </div>
                </div>
                <!--  End Modal content-->
            </div>
        </tab>
        <tab heading="Panels">
        </tab>
        <tab heading="Commands">
        </tab>
        <tab ng-repeat="tab in tabs" 
             heading="[[ tab.title ]]" 
             active="tab.active" 
             disable="tab.disabled">
            [[ tab.content ]]
        </tab>
        <tab heading="User Profile">
            <div style="padding:20px">
            {% include "profile.html" %}
            </div>
        </tab>
        <tab ng-repeat="tab in tabs" 
             heading="[[ tab.title ]]" 
             active="tab.active" 
             disable="tab.disabled">
            [[ tab.content ]]
        </tab>

        <tab heading="Test">
        </tab>
        <tab ng-repeat="tab in tabs" heading="[[ tab.title ]]" active="tab.active" disable="tab.disabled">
            [[ tab.content ]]
        </tab>
    </tabset>
</div>

<!-- Modal content-->

<div class="ui modal" id="addvolumeModal" style="height:370px;width:600px">
    <div class="header">
        <button type="button" 
                class="close" >&times;</button>
    </div>
    <div class="content">
        <h4>Add A Volume:</h4>

        <thumbnail id="addvolumethumbnail" 
                   width=50px 
                   height=50px 
                   defaultsrc="/static/images/Library.png">
        </thumbnail>

        <table style="width:70%">
            <tr>
                <td class="expanding">
                    <input id="addvolumename" 
                           type="text" 
                           style="width:80%;height:30px;margin:5px" 
                           placeholder="Name...">
                </td>
            </tr>
            <tr>
                <td class="expanding">
                    <input id="arkroot" 
                           type="text" 
                           style="width:80%;height:30px;margin:5px" 
                           placeholder="Arkroot...">
                </td>
            </tr>
            <tr>
                <td class="expanding">
                    <input id="mountpoint" type="text" style="width:80%;height:30px;margin:5px" placeholder="Mountpoint...">
                </td>
            </tr>
            <tr>
                <td class="expanding">
                    <input id="host" type="text" style="width:80%;height:30px;margin:5px" placeholder="Host...">
                </td>
            </tr>
        </table>
        <br>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div id="addvolume" class="ui approve button">Add</div>
    </div>
</div>

<div class="ui modal" id="addhostModal" style="height:330px;width:600px">
    <div class="header">
        <button type="button" class="close">&times;</button>
    </div>
    <div class="content">
        <h4>Add Host:</h4>
        <div style="float:left">
        <thumbnail id="addhostthumbnail" 
                   width=150px 
                   defaultsrc="/static/images/Library.png">
        </thumbnail>
</div>
        <table style="width:70%">
            <tr>
                <td class="expanding">
                    <input id="addhostname" 
                           type="text" 
                           style="width:80%;height:30px;margin:5px" 
                           placeholder="Name...">
                </td>
            </tr>
            <tr>
                <td class="expanding">
                    <input id="addhosthostname" 
                           type="text" 
                           style="width:80%;height:30px;margin:5px" 
                           placeholder="Hostname...">
                </td>
            </tr>
            <tr>
                <td class="expanding">
                    <input id="addhostdescription" 
                           type="text" 
                           style="width:80%;height:30px;margin:5px" 
                           placeholder="Description...">
                </td>
            </tr>
        </table>
        <br>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancel</div>
        <div id="addhost" class="ui approve button">Add</div>
    </div>
</div>
<!-- End Modal Content -->
    
<script>
    angular.module('myApp').controller('TabsDemoCtrl', function ($scope, $window) {
        $scope.hosts = {{ hosts | tojson }};
        $scope.volumes = {{ volumes | tojson }};
        $scope.storagetypes = [{value:"Network Disk", text:"Network Disk"},
                               {value:"Internal", text:"Internal"},
                               {value:"Removable Media", text:"Removable Media"},
                               {value:"Dropbox", text:"Dropbox"},
                               {value:"Google Drive", text:"Google Drive"},
                               {value:"iCloud", text:"iCloud"},
                               {value:"Other Cloud Service", text:"Other Cloud Service"}]

        $scope.setvolumeselection = function (volume) {
            $scope.selectedvolumename = volume.name;
            $scope.selectedvolumearkroot = volume.arkroot;
            $scope.selectedvolumemountpoint = volume.mountpoint
            if (volume.thumbnail == "undefined" || !volume.thumbnail) {
                volume.thumbnail = "/static/images/disk.png"
            } else {
                var sub = volume.thumbnail.substring(0, 5)
                if (sub != "data:" && sub[0] != "/" &&
                    sub != "http:")
                    volume.thumbnail = "data:image/jpeg;base64," + volume.thumbnail
            }
            $scope.selectedvolumetype = volume.storagetype
            for (i=0;i<$scope.hosts.length;i++) {
                if (volume.host == $scope.hosts[i].id) 
                    $scope.selectedvolumehost = $scope.hosts[i].name;
            }
            $scope.selectedvolumeid =volume.id
            $scope.selectedvolumethumbnail = volume.thumbnail

            var domname1 = document.getElementById("selectedvolumename")
            if (domname1)
                domname1.innerHTML = $scope.selectedvolumename          
            var domname2 = document.getElementById("selectedvolumearkroot")
            if (domname2)
                domname2.innerHTML = $scope.selectedvolumearkroot          
            var domname3 = document.getElementById("selectedvolumemountpoint")
            if (domname3)
                domname3.innerHTML = $scope.selectedvolumemountpoint          
            var domname4 = document.getElementById("selectedvolumetype")
            if (domname4)
                domname4.innerHTML = $scope.selectedvolumetype          
            var domname5 = document.getElementById("selectedvolumehost")
            if (domname5)
                domname5.innerHTML = $scope.selectedvolumehost
        }
        $scope.sethostselection = function (host) {
            $scope.selectedhostname = host.name;
            $scope.selectedhosthostname = host.hostname;
            $scope.selectedhostdescription = host.description;
            if (host.thumbnail == "undefined" || !host.thumbnail) {
                host.thumbnail = "/static/images/defaulthost.png"
            } else {
                var sub = host.thumbnail.substring(0, 5)
                if (sub != "data:" && sub[0] != "/" &&
                    sub != "http:")
                    host.thumbnail = "data:image/jpeg;base64," + host.thumbnail
            }
            $scope.selectedhostthumbnail = host.thumbnail
            $scope.selectedhostid = host.id
            
            var domname1 = document.getElementById("selectedhostname")
            if (domname1)
                domname1.innerHTML = $scope.selectedhostname          
            var domname2 = document.getElementById("selectedhosthostname")
            if (domname2)
                domname2.innerHTML = $scope.selectedhosthostname          
            var domname3 = document.getElementById("selectedhostdescription")
            if (domname3)
                domname3.innerHTML = $scope.selectedhostdescription          
        }            
        if ($scope.volumes.length) {
            $scope.setvolumeselection($scope.volumes[0])
        }
        if ($scope.hosts.length) {
            $scope.sethostselection($scope.hosts[0])
        }
//        var arrayLength = $scope.volumes.length;
//        for (var i = 0; i < arrayLength; i++) {
//        }

        $scope.addapplication = function (app) {
            if (app["data"][0].thumbnail == "undefined")
                app["data"][0].thumbnail = "/static/images/application-default-icon.png"
            else {
                var sub = app["data"][0].thumbnail.substring(0, 5)
                if (sub != "data:" && sub[0] != "/" &&
                    sub != "http:")
                    app["data"][0].thumbnail = "data:image/jpeg;base64," + app["data"][0].thumbnail

            }
            $scope.apps.push(app["data"][0]);
            $scope.$apply();
        };
        $scope.addvolume = function (v) {
            if (v["data"][0].thumbnail == "undefined" || !v["data"][0].thumbnail) {
                v["data"][0].thumbnail = "/static/images/disk.png"
                }
            else {
                var sub = v["data"][0].thumbnail.substring(0, 5)
                if (sub != "data:" && sub[0] != "/" &&
                    sub != "http:")
                    v["data"][0].thumbnail = "data:image/jpeg;base64," + v["data"][0].thumbnail

            }
            $scope.volumes.push(v["data"][0]);
            $scope.setvolumeselection($scope.volumes[$scope.volumes.length-1])
            $scope.$apply();

        };
        $scope.addhost = function (v) {
            if (v["data"][0].thumbnail == "undefined" || !v["data"][0].thumbnail) {
                v["data"][0].thumbnail = "/static/images/defaulthost.png"
                }
            else {
                var sub = v["data"][0].thumbnail.substring(0, 5)
                if (sub != "data:" && v["data"][0].thumbnail.substring(0,0) != "/" &&
                    v["data"][0].thumbnail.substring(0,5) != "http:")
                    v["data"][0].thumbnail = "data:image/jpeg;base64," + v["data"][0].thumbnail

            }
            $scope.hosts.push(v["data"][0]);
            $scope.sethostselection($scope.hosts[$scope.hosts.length-1])
            $scope.$apply();

        };

        $scope.deletehost = function () {
            if (!$scope.selectedhostid)
                return;
            $.ajax({
                type: "POST",
                url: "{{ url_for('delete_arkhost',id=1)}}".replace("1",$scope.selectedhostid),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $('#deletehostModal').modal("hide");
                    var newhosts = []
                    for (i=0;i<$scope.hosts.length;i++) {
                        if ($scope.selectedhostid != $scope.hosts[i].id) {
                            newhosts.push($scope.hosts[i])
                        }
                    }
                    $scope.hosts = newhosts;
                    if($scope.hosts.length) {
                        $scope.sethostselection($scope.hosts[0])
                        $scope.$apply();
                    }
                },
                error: function () {
                    alert("failure");
                }
            });
        }

        $scope.deletevolume = function () {
            console.log("delete "+$scope.selectedvolumeid)
            if (!$scope.selectedvolumeid)
                return;
            $.ajax({
                type: "POST",
                url: "{{ url_for('delete_arkvolume',id=1)}}".replace("1",$scope.selectedvolumeid),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    $('#deletevolumeModal').modal("hide");
                    var newvolumes = []
                    for (i=0;i<$scope.volumes.length;i++) {
                        if ($scope.selectedvolumeid != $scope.volumes[i].id) {
                            newvolumes.push($scope.volumes[i])
                        }
                    }
                    $scope.volumes = newvolumes;
                    if ($scope.volumes.length) {
                        $scope.setvolumeselection($scope.volumes[0])
                    }
                    $scope.$apply();
                },
                error: function () {
                    alert("failure");
                }
            });
        }
        $scope.onselectvolume = function(volume) {
            $scope.setvolumeselection(volume);
         //   $scope.$apply();
        }
        $scope.onvolumechange = function(data,field) {
            var fd = new FormData();
            fd.append("_updatedata","{\""+field+"\":\"" + data +"\"}")                
            $.ajax({
                type: "POST",
                url: "{{url_for('update_arkvolume',id=1)}}".replace(1,$scope.selectedvolumeid),
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    data = data["data"][0];
                    var newvolumes = []
                    var selectedindex=0
                    for (i=0;i<$scope.volumes.length;i++) {
                        if ($scope.selectedvolumeid != $scope.volumes[i].id) {
                            newvolumes.push($scope.volumes[i]);
                        }
                        else {
                            selectedindex=i
                            newvolumes.push(data);
                        }
                    }
                    $scope.volumes = newvolumes;
                    $scope.setvolumeselection($scope.volumes[selectedindex]);
                    $scope.$apply();
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }
        
        $scope.onhostchange = function(data,field) {
            var fd = new FormData();    
            fd.append("_updatedata","{\""+field+"\":\"" + data +"\"}")
            $.ajax({
                type: "POST",
                url: "{{url_for('update_arkhost',id=1)}}".replace(1,$scope.selectedhostid),
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                    console.log(data)

                    data = data["data"][0];
                    var newhosts = [];
                    var selectedindex=0
                    for (i=0;i<$scope.hosts.length;i++) {
                        if ($scope.selectedhostid != $scope.hosts[i].id) {
                            newhosts.push($scope.hosts[i]);
                        }
                        else {
                            selectedindex=i
                            newhosts.push(data);
                        }
                    }
                    $scope.hosts = newhosts;
                    $scope.sethostselection($scope.hosts[selectedindex])
                    $scope.$apply();
                },
                error: function () {
                    alert("failure");
                }
            });
        }
        
        $scope.onupdatehostthumbnail = function (data) {
            if (!data)
                return
                
            console.log("onupdatehostthumbnail")
            for (i=0;i<$scope.hosts.length;i++) {
                if ($scope.selectedhostid == $scope.hosts[i].id) {
                  //  console.log("setting thumbnail")
                    
              //      var thumbnaildrop = $("#selectedhostthumbnail").children()[1]
                //    var thumbnailimg = thumbnaildrop.children[0]
              //      $scope.hosts[i].thumbnail = thumbnailimg.src

         //           $scope.$apply();
                    break;
                }
            }
        }
    });

    angular.module('myApp').controller('AccordionDemoCtrl', function ($scope) {
        $scope.oneAtATime = true;
        $scope.groups = [ 
            {title: 'Dynamic Group Header - 1',
             content: 'Dynamic Group Body - 1'},
            { title: 'Dynamic Group Header - 2',
             content: 'Dynamic Group Body - 2'}
        ];

        $scope.items = ['Item 1', 'Item 2', 'Item 3'];


        $scope.addItem = function () {
            var newItemNo = $scope.items.length + 1;
            $scope.items.push('Item ' + newItemNo);
        };

        $scope.status = {
            isFirstOpen: true,
            isFirstDisabled: false
        };

    });

    $("#addvolume").click(function () {
        var name = $('#addvolumename').val();
        var arkroot = $('#arkroot').val();
        var mountpoint = $('#mountpoint').val();
        var thumbnail = $("#addvolumethumbnail").scope().getthumbnail()
        $.ajax({
            type: "POST",
            url: "{{url_for('add_arkvolume')}}",
            data: "{\"name\":\"" + name +
                "\",\"arkroot\":\"" + arkroot +
                "\",\"mountpoint\":\"" + mountpoint +
                "\",\"thumbnail\":\"" + thumbnail +
                "\"}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#addvolumeModal').modal("hide");
                var scope = angular.element(document.getElementById("angularmain")).scope();
                scope.addvolume(msg)
            },
            error: function () {
                alert("failure");
            }
        });
    });
    $("#addhost").click(function () {
        var name = $('#addhostname').val();
        var hostname = $('#addhosthostname').val();
        var description = $('#addhostdescription').val();
        var thumbnail = $("#addhostthumbnail").scope().getthumbnail();
        $.ajax({
            type: "POST",
            url: "{{url_for('add_arkhost')}}",
            data: "{\"name\":\"" + name +
                "\",\"hostname\":\"" + hostname +
                "\",\"description\":\"" + description +
                "\",\"thumbnail\":\"" + thumbnail +
                "\"}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                $('#addhostModal').modal("hide");
                var scope = angular.element(document.getElementById("angularmain")).scope();
                scope.addhost(msg)
            },
            error: function () {
                alert("failure");
            }
        });
    });

    function selectapp(app) {
        console.log("here");

    }
</script>

<script>
    angular.module('myApp').controller('profilectrl', function ($scope) {
        $scope.onfieldchange = function(data,field,variable,id) {
            document.getElementById("profileedit_"+variable).innerHTML = data
            fd = new FormData();
            fd.append("_updatedata","{\""+variable+"\":\"" + data +"\"}")
            $.ajax({
                type: "POST",
                url: "{{url_for('update_user',id=1)}}".replace(1,id),
                data: fd,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                },
                error: function () {
                    alert("failure");
                }
            });
        }

    });
</script>
    
<script src="/static/js/filedrop2.js"></script>

</html>

{% endblock %}