<!--- Template for drag and drop thumbnail.  just set:
 set element = ELEMENT 
 set thumbnailposturl = url_for('updatethumbnail',id=element.id) 
-->

<style>
#thumbnaildrop{{thumbnailindex}}
{
    color: #555;
    border: 0px dashed #555;
    border-radius: 7px;
    cursor: default;
    height:auto;
    width:{{thumbnailwidth}};
}

#thumbnaildrop{{thumbnailindex}}.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    border: 1px dashed #999;
    cursor: crosshair;

}
</style>
<div id = "thumbnaildrop{{thumbnailindex}}" style="float:left">
    
{% if element.thumbnail %}
    <img id="thumbnailimg{{thumbnailindex}}" 
         style="width:{{thumbnailwidth|default('85%')}};
                height:auto;max-height:320;
                padding:5px" 
         src="{{ element.thumbnail }}">
{% else %}
     <img id="thumbnailimg{{thumbnailindex}}" 
          style="width:{{thumbnailwidth|default('85%')}};
                 height:auto;
                 max-height:320;
                 padding:5px" 
          src="{{ defaultthumbnail|default('/static/images/defaultthumbnail.jpg',true)}}">
{% endif %} 
    
<meta id="thumbnaildata{{thumbnailindex}}" 
      data-id="{{element.id}}" 
      data-posturl="{{ thumbnailposturl }}"
      data-thumbnailindex = "{{ thumbnailindex }}">

</div>

<script>
    acceptedTypes = {
      'image/png': true,
      'image/jpeg': true,
      'image/gif': true 
    };

    var thumbnaildrop = document.getElementById("thumbnaildrop"+"{{thumbnailindex}}")
    if (thumbnaildrop) {
      thumbnaildrop.addEventListener("dragover", function(e){ThumbFileDragHover(e,"{{thumbnailindex}}")}, false);
      thumbnaildrop.addEventListener("dragleave", function(e){ThumbFileDragHover(e,"{{thumbnailindex}}")}, false);
      thumbnaildrop.addEventListener("drop", function(e){ThumbFileSelectHandler(e,"{{thumbnailindex}}")}, false);
      thumbnaildrop.style.display = "block";
    }


// file drag hover
function ThumbFileDragHover(e,index) {
    e.stopPropagation();
    e.preventDefault();
    var thumbnaildrop = document.getElementById("thumbnaildrop"+index)
    thumbnaildrop.className = (e.type == "dragover" ? "hover" : "");
}


// file selection
function ThumbFileSelectHandler(e,index) {
    // cancel event and hover styling
  //  FileDragHover(e);
    e.stopPropagation();
    e.preventDefault();
    var thumbnaildrop = document.getElementById("thumbnaildrop"+index)

    thumbnaildrop.className = "";

    // fetch FileList object
    var files = e.target.files || e.dataTransfer.files;

    // process all File objects
    thumbprocessFile(files[0],index);
}

function thumbpreviewfile(file,index) {
    console.log("preview")
  if (acceptedTypes[file.type] === true) {

      var reader = new FileReader();
      reader.onload = function (event) {
        var image = new Image();
        image.src = event.target.result;
        image.width = "{{thumbnailwidth}}"; 
        var thumbnailimg  = document.getElementById("thumbnailimg"+index)
        thumbnailimg.src = image.src; // = 'url(' + event.target.result + ') no-repeat center'

      };

      reader.readAsDataURL(file);
  }  else {
//    posterholder.innerHTML += '<p>Uploaded ' + file.name + ' ' + (file.size ? (file.size/1024|0) + 'K' : '');
  }
}

function thumbprocessFile(file,index) {
    console.log("process")

    thumbpreviewfile(file,index);
    postthumbnail(file,index);
}
    
function postthumbnail(file,index) {
    var fd = new FormData();
    fd.append("thumbnail",file);

    // now post a new XHR request 
    var id = $('#thumbnaildata'+index).data()["id"];
    var posturl = $("#thumbnaildata"+index).data()["posturl"]
    var xhr = new XMLHttpRequest();
    xhr.open('POST', posturl);
    xhr.send(fd);
}
</script>