{% extends 'base.html' %}

<style>

.btn-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
</style>

{% block content %}
<section class="container"> 
<div id="content">
        <h3><a href="{{trellocard.url}}">{{ trellocard.name }}</a></h3>
        <table>               
            <tr>
            <td>
                <h6> Members</h6>
                        {% for member in members.keys() %}
                            {% if members[member].avatarHash %}
                                 <img class="member-avatar" src="{{members[member].avatarurl}}" alt="members[member].fullName}}" title="{{members[member].fullName}}" height="30" width="30"></img>
                            {% else %}

                                <button class="btn btn-primary btn-circle">{{members[member].initials or members[member].username}}</button>
                            {% endif %}

                        {% endfor %}
                        <button class="btn btn-default btn-circle"><span class='glyphicon glyphicon-plus'></span></button>
            </td>
            <td><p>   </p></td><td></td>
        {% if trellocard.labels %}
            <td>
                <h6> Labels </h6>
                {% for label in trellocard.labels %}
                <button class="btn btn-info btn-sm" style="background-color:{{label.color}}"><b>{{label.name}} </b></button>
                {% endfor %}
                <button class="btn btn-default btn-circle"><span class='glyphicon glyphicon-plus'></span></button>                        
        {% endif %}
            </td>
            </tr>
        </table>

    <h6> Last Updated </h6>
    {{trellocard.dateLastActivity}}

    <h6> Description <span class="glyphicon glyphicon-pencil"></span></h6>
    <pre> {{trellocard.description}}</pre>

    <br>
    <br>
    <h4> <span class="glyphicon glyphicon-paperclip"></span> Attachments</h4>
                             {% for attachment in attachments %}
                             <img src={{attachment["url"]}}>
                             <span> {{attachment["name"]}}<br>
                             {{attachment["date"]}}</span>
                             <br>
                        {% endfor %}
                        <br>
                        <a href ="">Add An Attachment...</a>
    <br>
    <br>
    <h4> <span class="glyphicon glyphicon-tasks"></span> Activity</h4>
        {% if shot %}
        <form  action="{{url_for('post_trello_comment',id=shot.id)}}" method=post enctype="multipart/form-data">
        {% endif %}
        <textarea name="comment" id="comment" style="overflow: hidden; word-wrap: break-word; height: 75px;" cols="100" rows=5 placeholder="Write a comment..."> </textarea><br>
        <br>
        <button type="submit" class="btn btn-success">Comment</button>
    </form>
        <br>
        <br>
        <br>
        {% for action in actions %}
            {% if members.has_key(action["memberCreator"].username) %}
               <img class="member-avatar" src="{{members[action["memberCreator"].username].avatarurl}}" alt="{{action["memberCreator"].fullName}}" title="{{action["memberCreator"].fullName}}" height="30" width="30"></img>                
            {% else %}
            <h5><span class="btn btn-default btn-circle">{{action["memberCreator"].initials}}</span>
            {% endif %}
            <b>{{action["memberCreator"].fullName}}</b>
                {% if action["type"]=="updateCard" %}
                    {% if action["data"].has_key("listBefore") %}
                        moved this card from {{action["data"]["listBefore"].name}} to {{action["data"]["listAfter"].name}}. 
                    {% endif %}
                        <br>{{action["date"]}}<br>
                {% elif action["type"]=="commentCard" %}
                    <br><br>
                    <textarea cols="100" rows="auto"> {{action["data"].text}} </textarea><br>
                    {{action["date"]}}<br>
                {% else %}                                
                    {{action["type"]}} <br>
                    {{action["data"]}}<br>
                    {{action["date"]}}<br>
                {% endif %}
                <hr>
        {% endfor %}
</div>
</section>
{% endblock %}



      