<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<style>
#header {
    background: #026aa7;
    overflow: hidden;
    padding: 5px;
    height: 40px;
    max-width: 900px;
}

.trello-logo-default {
    background-image: url(https://d78fikflryjgj.cloudfront.net/images/50b4ebc64391dc394a38e73aed57f0e2/header-logo.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80px 30px;
    height: 30px;
    position: absolute;
    width: 80px;
    margin-left: 0px;
}
.trelloindent {
    margin-left: 35px;
}
.trelloindent.hover {
    margin-left: 35px;
}

.trellodate {
    color: grey;
    font-size: 12px;
    font-weight: bold;
}
.trelloinitials {
    width:30px;
    height:30px;
    font-size:13px;
    font-weight:bold;
    padding:4px;
    vertical-align:center;
}
</style>

<div id="trellocontainer">
    {% if not trellocard %}
        {% set trellocard = "" %}
        <div id="header"><a class="header-logo js-home-via-logo" href=""><span class="trello-logo-default"></span></a></div>

        <b class="trelloindent"><font color="gray"> No Trello Card Found</font></b>
        <br>
        <button type="button" class="btn btn-primary trelloindent" data-toggle="modal" data-target="#createtrelloModal"> Create Trello Card</button>
        <br><br>
    {% else %}
        <div id="header"><a class="header-logo js-home-via-logo" href="{{trellocard.url}}"><span class="trello-logo-default"></span></a></div>

        <h4 class="trelloindent">{{trellocard.name }} <span id="trellolistname" style="color:grey">in list {{trellocard.trellolist.name}}</span></h4>

        <h5 class="trelloindent" style="color:grey"> Last Updated </h5>
        <h5 class="trelloindent" style="color:grey">{{trellocard.dateLastActivity.strftime("%b %d at %I:%m%p")}}</h5>
    {% endif %}

    {% if trellocard %}
    <button type="button" class="btn btn-default trelloindent btn-sm" data-toggle="modal" data-target="#descriptionModal"><span class="glyphicon glyphicon-list"></span></button>  
    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#trellomoveModal"><span class="glyphicon glyphicon-arrow-right"></span></button>  

    <br>
    <h4> <span class="glyphicon glyphicon-paperclip"></span><span style="padding:10px"> Attachments</span></h4>

    <DIV id="filedrag" class="trelloindent">
    <div id = "trelloattachments">
            {% include "trelloattachments.html" %}
        </div>
        </div>

        <h4> <span class="glyphicon glyphicon-tasks"></span><span style="padding:10px"> Activity</span></h4>
        <textarea id="trellocomment" class = "trelloindent" name="comment" id="comment" style="overflow: hidden; word-wrap: break-word; height: 75px;" cols="100" rows=5 placeholder="Write a comment..."> </textarea><br>
        <br>
        <button id="posttrellocomment" class="btn btn-success trelloindent">Comment</button>
        <hr>
        {% endif %}

        <div id="trelloactions">
        {% for action in actions %}
            {% if members.has_key(action["memberCreator"].username) and members[action["memberCreator"].username].avatarurl %}
               <img class="member-avatar" src="{{members[action["memberCreator"].username].avatarurl}}" alt="{{action["memberCreator"].fullName}}" title="{{action["memberCreator"].fullName}}" height="30" width="30"></img>                
            {% else %}
            <span class="btn btn-default btn-circle trelloinitials" >{{action["memberCreator"].initials}}</span>
            {% endif %}
            <b>{{action["memberCreator"].fullName}}</b>
                {% if action["type"]=="updateCard" %}
                    {% if action["data"].has_key("listBefore") %}
                        moved this card from {{action["data"]["listBefore"].name}} to {{action["data"]["listAfter"].name}}. 
                    {% endif %}
                        <br><span class="trelloindent trellodate">{{action["date"].strftime("%b %d at %I:%m%p")}}</span><br>
                {% elif action["type"]=="commentCard" %}
                    <br><br>
                    <pre class="trelloindent" cols="100" rows="auto">{{action["data"].text}}</pre>
                    <span class="trelloindent trellodate">{{action["date"].strftime("%b %d at %I:%m%p")}}</span><br>
                {% else %}                                
                    {{action["type"]}} <br>
                    {{action["data"]}}<br>
                    <span class="trelloindent trellodate">{{action["date"].strftime("%b %d at %I:%m%p")}}</span><br>
                {% endif %}
                <hr>
        {% endfor %}
        </div>
    </div>

<!----- Modal Content---->
<div class="modal" id="trellomoveModal" role="dialog">
    <div class="modal-dialog" style="width:75%">
      <div class="modal-content">
            <div class="modal-header">
                <center><h4>Move Card</h4></center>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                {% if trellocard %}

                <h5>List:<select id="trellolist" name="trellolist"></h5>
                    {% for list in trellolists %}
                        {% if  trellocard.trellolist.id == list.id %}
                            <option SELECTED value={{list.id}}>{{list.name}}</option>
                        {% else %}
                            <option value={{list.id}}>{{list.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <h5>Position: <select id="trelloposition" name="trelloposition"></h5>
                    <option value="top">top</option>
                    {% for i in range(0,trellocard.trellolist.cardcount) %}
                        {% if trellocard.pos == (loop.index) %}
                            <option SELECTED value={{loop.index}}>{{loop.index}}</option>
                        {% else %}
                            <option value={{loop.index}}>{{loop.index}}</option>
                        {% endif %}
                    {% endfor %}
                     <option value="bottom">bottom</option>
                 </select>
                 {% endif %}     
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-success" id="trellomove">Move</button>
            </div>       
       </div>
    </div>
</div>


<div class="modal" id="createtrelloModal" role="dialog">
    <div class="modal-dialog" style="width:75%">
      <div class="modal-content">
            <div class="modal-header">
                <center><h4>Create Card</h4></center>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <td class="fieldlabel">Trello Board</td>
                    <td> <select id="selecttrelloboard" style="font-size:12px">
                            <option value="New" checked>New</option> 
                            <option value="8i Assets">8i Assets</option> 
                            <option value="8i Projects">8i Projects</option> 
                            <option value="8i Shows">8i Shows</option> 

                         </select>
                     </td>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-success" id="trellomove" onclick="createtrellocard()">Create</button>
            </div>       
       </div>
    </div>
</div>

<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width:75%">
      <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <pre>
                {% if trellocard %}
                    {{ trellocard.description }}
                {% endif %}  
                </pre>

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>            
       </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!---- Variables !-->
{% if trellocard %}
    <meta id="trellodata" data-trelloid="{{trellocard.id}}">
{% endif %}  
<meta id="elementdata" data-id="{{element.id}}">
{% if shot %}
<meta id="elementtype" data-elementtype="shot">
{% else %}
<meta id="elementtype" data-elementtype="show">
{% endif %}  
{% if element.thumbnail %}
<meta id="elementthumbnail" data-thumbnail="{{element.thumbnail}}">
{% endif %}

<script>
function createtrellocard() {
    var elementtype = $('#elementtype').data()["elementtype"];

    trelloboard = document.getElementById("selecttrelloboard").value

    if (elementtype == "show") {
        var formdata = new FormData();
        formdata.append("name", "{{element.name}}");
        formdata.append("desc","{{element.description}}");
        formdata.append("trelloboard",trelloboard);
        formdata.append("id","{{element.id}}");

        if ($("#elementthumbnail").data()) {
            var tm = $('#elementthumbnail').data()["thumbnail"];
           if (tm) {
                var blob = new Blob([tm], { type: "image/png,base64"});
                formdata.append("thumbnail",blob);
            }
        }

        $.ajax({
            type: "POST",
            url: "{{url_for('api_create_showcard')}}",
            data: formdata,
            cache: false,
            contentType: false,
            processData: false,

            success: function(data) {
                console.log(data)
                $("#createtrelloModal").modal("hide")
            },
            error: function(data) {
                console.log(data)
                if ("requestJSON" in data) {
                    alert(data["requestJSON"]["message"])
                }
                else if ("responseText" in data) {
                    alert(data["responseText"])
                }
                else
                    alert("failure");
            }
        });
    }
}

function processfilecb(file) {
    if ($("#trellodata".data())) {
        var id = $('#trellodata').data()["trelloid"];
        var elementid = $('#elementdata').data()["id"];

        var formdata = new FormData();
        formdata.append("fileattach",file);
        formdata.append("trelloid",id);
        console.log(elementid)
        $.ajax({
            type: "POST",
            url: "{{url_for('add_attachment',id=1)}}".replace("1",elementid),
            data: formdata,
            cache: false,
            contentType: false,
            processData: false,

            success: function(data) {
                console.log(data)
                $("#trelloattachments").html(data)
            },
            error: function() {
                alert("failure");
            }
        });
    }
}
$(document).ready(function () {

$("button#posttrellocomment").click(function(e) {
    e.preventDefault();
    var comment = $("textarea#trellocomment").val();
    console.log(comment);
    var data = new FormData();
    data.append("trellocomment",comment)
    var id = $('#trellodata').data()["trelloid"];

    $.ajax({
        type: "POST",
        url: "{{ url_for('post_trello_comment', id=1) }}".replace("1",trelloid),
        data: data,
        processData: false,
        contentType: false,
        success: function(data) {
            $("#trelloactions").html(data)
            },
        error: function() {
            alert("failure");
            }
        });
    });
 
$("button#trellomove").click(function(e) {
    e.preventDefault();
    var listid = $("#trellolist").val();
    var pos = $("#trelloposition").val();

    var data = new FormData();
    data.append("trellolist",listid)
    data.append("trelloposition",pos)
    var id = $('#trellodata').data()["trelloid"];

    $.ajax({
        type: "POST",
        url: "{{ url_for('move_trello_card', id=1) }}".replace("1",id),
        data: data,
        processData: false,
        contentType: false,
        success: function(data) {
            $("#trellolistname").html("in list "+data);
            $("#trellomoveModal").modal('hide');
            },
        error: function() {
            alert("failure");
            }
        });
    });
});

</script>
<script src="/static/js/filedrag.js"></script>
