        {% for action in actions %}
            {% if members.has_key(action["memberCreator"].username) and members[action["memberCreator"].username].avatarurl %}
               <img class="member-avatar" src="{{members[action["memberCreator"].username].avatarurl}}" alt="{{action["memberCreator"].fullName}}" title="{{action["memberCreator"].fullName}}" height="30" width="30"></img>                
            {% else %}
            <span class="btn btn-default btn-circle trelloinitials" >{{action["memberCreator"].initials}}</span>
            {% endif %}
            <b>{{action["memberCreator"].fullName}}</b>
                {% if action["type"]=="updateCard" %}
                    {% if action["data"].has_key("listBefore") %}
                        moved this card from {{action["data"]["listBefore"].name}} to {{action["data"]["listAfter"].name}}. 
                    {% endif %}
                        <br><span class="trelloindent trellodate">{{action["date"].strftime("%b %d at %I:%m%p")}}</span><br>
                {% elif action["type"]=="commentCard" %}
                    <br><br>
                    <pre class="trelloindent" cols="100" rows="auto"> {{action["data"].text}} </pre>
                    <span class="trelloindent trellodate">{{action["date"].strftime("%b %d at %I:%m%p")}}</span><br>
                {% else %}                                
                    {{action["type"]}} <br>
                    {{action["data"]}}<br>
                    <span class="trelloindent trellodate">{{action["date"].strftime("%b %d at %I:%m%p")}}</span><br>
                {% endif %}
                <hr>
        {% endfor %}
