{% macro render_field(label,field) %}
<div>

    <span style="font-size:10px; float:right; padding-left:10px; position:absolute">{{ label }}:</span> {% if field %}

    <span style="font-size:12px; padding-left:80px; left:50px; position:absolute"> <font color="black"> {{ field }}</font></span> {% else %}

    <span style="font-size:12px; padding-left:80px; left:50px; position:absolute"> <font color="black"> Undefined</font></span> {% endif %}
</div>

{% endmacro %} {% extends "base.html" %} {% block content %}
<section="container">

    <body>
        <div style="overflow:scroll">
            <h1> Users </h1> {% for user in users %}
            <ul>
                {{ render_field("email",user.email)|safe }}
                <br> {{ render_field("username",user.username) }}
                <br> {{ render_field("password",user.password) }}
                <br> {{ render_field("firstname",user.firstname) }}
                <br> {{ render_field("lastname",user.lastname) }}
                <br> {{ render_field("administrator",user.administrator) }}
                <br> {{ render_field("lastlogin",user.last_login) }}
                <br> {{ render_field("lastlogin",user.last_login) }}
                <br>

                <br> {% if user.connections %} {% for conn in user.connections %} {{ render_field("provider_id",conn.provider_id) }}
                <br> {{render_field("user_id",conn.user_id) }}
                <br> {{ render_field("provider_user_id", conn.provider_user_id) }}
                <br> {{ render_field("access_token", conn.access_token) }}
                <br> {{ render_field("secret", conn.secret) }}
                <br> {{ render_field("display_name", conn.display_name) }}
                <br> {{ render_field("full_name", conn.full_name) }}
                <br> {{ render_field("profile_url", conn.profile_url) }}
                <bR> {{ render_field("image_url", conn.image_url) }}
                <br>
                <br> {% endfor %} {% else %} No Connections
                <br> {% endif %}
            </ul>
        <hr>
    {% endfor %}
        </div>
    </body>

        </section>
    {% endblock %}